<div class="mainBox campaignMain">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <button type="button" class="addReview" (click)="onAddCampaign()"><img src="../../../../assets/images/addIcon.png"
          alt=""> Add Campaign</button>
    </div>
    <div class="mainBoxHeaderRight">
      <input type="text" placeholder="Search ...">
    </div>
  </header>
  <div class="dataTableArea">
    <message [successMessage]="successMessage"></message>
    <div class="table table-col-5">
      <ul class="thead">
        <li>CAMPAIGN NAME & URL</li>
        <li>VISUAL STYLE</li>
        <li>EXIT POPUP</li>
        <li>CREATED DATE</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [compact]="true" *ngIf="campaigns.length > 0; else noRecords">
          <ul>
            <li class="row" *ngFor="let campaign of campaigns; let i = index">
              <div class="rowContainer" [ngClass]="{ratePop: isSelectingReview && rowIndex === i}">
                <div class="tcol">
                  <div class="loopedTag" *ngIf="campaign.loop">LOOPED</div>
                  <div class="userReview">
                    <h2>{{ campaign.campaign_name }} <span class="redTag" *ngIf="campaign.is_active">ACTIVE</span></h2>
                    <p>{{ campaign.domain_name }}</p>
                  </div>
                  <a (copy)="onCopySnippet()" [context]="prepareContext(campaign)" class="copyBtn" copyToClipboard><img src="../../../../assets/images/icon_copy_snippet.png" alt=""> Copy Snippet</a>
                </div>
                <div class="tcol">
                  <div class="reviewTheme">
                    <img *ngIf="campaign.style.type == 100" src="../../../../assets/images/stickyTheme3.png" alt="">
                    <img *ngIf="campaign.style.type == 101" src="../../../../assets/images/stickyTheme4.png" alt="">
                    <img *ngIf="campaign.style.type == 102" src="../../../../assets/images/stickyTheme5.png" alt="">
                    <img *ngIf="campaign.style.type == 103" src="../../../../assets/images/stickyTheme1.png" alt="">
                    <img *ngIf="campaign.style.type == 104" src="../../../../assets/images/stickyTheme2.png" alt="">
                  </div>
                </div>
                <div class="tcol">
                  <img src="../../../../assets/images/tick_type_2.png" alt="">
                </div>
                <div class="tcol">
                  <p>{{ campaign.created_at | date: 'medium'}}</p>
                </div>
                <div class="tcol">
                  <a (click)="onEditCampaign(campaign)" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                  <a (click)="onClickStickyReviews(i, campaign)" class="assignTask"><img src="../../../../assets/images/icon_assign_task.png" class="assignTaskImg" alt=""></a>
                  <a (click)="onDeleteCampaign(campaign.id)" class="delete"><img src="../../../../assets/images/icon_delete_red.png" alt=""></a>

                  <div class="taskBox">
                    <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReviews()">
                      <!-- Preview style -->
                      <app-widget-styles [styleType]="campaign.style.type"></app-widget-styles>
                      <!-- End of preview style -->
                      <div class="review-options">
                        <div class="log-stat_msg log_Failed" *ngIf="isSubmittedReviews && reviewForm.invalid">Please select at least one review</div>
                        <ng-scrollbar [compact]="true" *ngIf="reviewForm.controls.campaignReviews.controls.length > 0; else noStickyReviews">
                          <ul>
                            <li formArrayName="campaignReviews" *ngFor="let review of reviewForm.controls.campaignReviews.controls; let i = index">
                              <div class="checkbox"><input type="checkbox" class="sr-checkbox" [formControlName]="i"></div>
                              <p>{{ stickyReviews[i].name }}</p>
                              <span class="greenTag" *ngIf="stickyReviews[i].tags !== undefined && stickyReviews[i].tags !== null">{{ stickyReviews[i].tags }}</span>
                            </li>
                          </ul>
                        </ng-scrollbar>
                        <ng-template #noStickyReviews>
                          <p>Sorry no sticky reviews found ! </p>
                        </ng-template>
                      </div>
                      <button class="saveBtn">
                        <img src="../../../../assets/images/addIcon.png" alt=""> Save
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>
        <ng-template #noRecords>
          <ul>
            <li class="row">
              <p class="no-records">Sorry no campaigns found !</p>
            </li>
          </ul>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal" [escapable]="false">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="sr-modal-container">
      <div class="sr-modal-header">
        <h2>Add Campaign</h2>
      </div>
      <div class="sr-modal-body">
        <div class="sr-form">
          <div class="sr-form-content" #mainScreen [ngClass]="{'activeScroll': scrollTrigger}">
            <ng-scrollbar [compact]="true" class="formScroll">
              <message></message>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Campaign Name</label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl"
                      [ngClass]="{error: isSubmitted && getFormControls.campaignName.errors}"
                      formControlName="campaignName">
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignName.errors !== null 
                      && getFormControls.campaignName.errors.required)">
                      Campaign name is required
                    </div>
                  </div>
                </div>
                <div class="sr-form-cell-small">
                  <label>Domain Name</label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl"
                      [ngClass]="{error: isSubmitted && getFormControls.campaignDomainName.errors}"
                      formControlName="campaignDomainName">
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignDomainName.errors !== null 
                      && getFormControls.campaignDomainName.errors.required)">
                      Domain name is required
                    </div>
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignDomainName.errors !== null 
                      && getFormControls.campaignDomainName.errors.pattern)">
                      Please provide a valid domain name
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Choose Visual Style</label>
                  <div class="sr-form-field">
                    <select class="sr-form-ctrl"
                      [ngClass]="{error: isSubmitted && getFormControls.campaignVisualStyle.errors}"
                      formControlName="campaignVisualStyle" [compareWith]="compareValue">
                      <option [ngValue]="style" *ngFor="let style of styles">{{ style.name }}</option>
                    </select>
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignVisualStyle.errors !== null 
                      && getFormControls.campaignVisualStyle.errors.required)">
                      Visual style is required
                    </div>
                  </div>
                  <!-- Preview style -->
                  <app-widget-styles [styleType]="(selectedStyle) ? selectedStyle.type : defaultWidgetStyle"></app-widget-styles>
                  <!-- End of preview style -->
                </div>

                <div class="sr-form-cell-small">
                  <label>Choose Sticky Reviews</label>
                  <div class="option-list">
                    <ul>
                      <li formArrayName="campaignReviews" *ngFor="let review of form.controls.campaignReviews.controls; let i = index">
                        <input type="checkbox" class="sr-checkbox" [formControlName]="i"><span>{{ stickyReviews[i].name }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Delay Before Start <span>(in seconds)</span></label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl" digitsOnly
                      [ngClass]="{error: isSubmitted && getFormControls.campaignDelayBeforeStart.errors}"
                      formControlName="campaignDelayBeforeStart">
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignDelayBeforeStart.errors !== null 
                      && getFormControls.campaignDelayBeforeStart.errors.required)">
                      Delay before start is required
                    </div>
                  </div>
                </div>
                <div class="sr-form-cell-small">
                  <label>Stay Timing<span>(ex: 1000 for 1 second)</span></label>
                  <div class="sr-form-field">
                    <input type="text" digitsOnly class="sr-form-ctrl" [ngClass]="{error: isSubmitted && getFormControls.campaignStayTime.errors}" formControlName="campaignStayTime">
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignStayTime.errors !== null 
                      && getFormControls.campaignStayTime.errors.required)">
                      Stay timing is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Interval Between Reviews <span>(in seconds)</span></label>
                  <div class="sr-form-field small">
                    <input type="text" digitsOnly class="sr-form-ctrl"
                      [ngClass]="{error: isSubmitted && getFormControls.campaignDelayBetweenTwoReview.errors}"
                      formControlName="campaignDelayBetweenTwoReview">
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignDelayBetweenTwoReview.errors !== null 
                      && getFormControls.campaignDelayBetweenTwoReview.errors.required)">
                      Interval Between Reviews is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Loop sticky reviews <input type="checkbox" class="tglBtn" formControlName="campaignLoop"></label>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Add Branding <input type="checkbox" class="tglBtn" formControlName="isBrandingSelected"></label>
                  <div class="sr-form-field">
                    <select class="sr-form-ctrl"
                      [ngClass]="{error: isSubmitted && getFormControls.campaignBrand.errors}"
                      formControlName="campaignBrand" [compareWith]="compareValue">
                      <option [ngValue]="brand" *ngFor="let brand of brands">{{ brand.name }}</option>
                    </select>
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignBrand.errors !== null 
                      && getFormControls.campaignBrand.errors.required)">
                      Please select a branding
                    </div>
                  </div>
                </div>
                <div class="sr-form-cell-small">
                  <label>Add Exit Pop-up <input type="checkbox" class="tglBtn" formControlName="isExitPopupSelected"></label>
                  <div class="sr-form-field">
                    <select class="sr-form-ctrl"
                      [ngClass]="{error: isSubmitted && getFormControls.campaignExitPopup.errors}"
                      formControlName="campaignExitPopup">
                      <option [ngValue]="style" *ngFor="let style of styles">{{ style.name }}</option>
                    </select>
                    <div class="error-msg" *ngIf="(
                      isSubmitted 
                      && getFormControls.campaignExitPopup.errors !== null 
                      && getFormControls.campaignExitPopup.errors.required)">
                      Please select an exit popup
                    </div>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </div>

          <div class="sr-form-row">
            <div class="sr-form-cell">
              <button class="button-submit">
                <img src="../../../../assets/images/addIcon.png" alt=""> Save Campaign
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</ngx-smart-modal>