# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/app
/lib

# dependencies
.vagrant/
node_modules/
sql/
vendor/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
nbproject/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
bootstrap.log
testem.log
ubuntu*.log
/typings


# System Files
.DS_Store
Thumbs.db
