<div class="mainBox brandingMain">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <button type="button" class="addReview" (click)="onAddBrand()">
        <img src="../../../../assets/images/addIcon.png" alt="">
        Add Branding
      </button>
    </div>
    <div class="mainBoxHeaderRight" *ngIf="!showNoRecordsFoundTemplate">
      <input type="text" placeholder="Search ..." (keyup.enter)="onSearch($event)" [(ngModel)]="searchKey">
      <button class="clearSearch" *ngIf="showClearSearch" (click)="clearSearch()" title="Clear search"></button>
    </div>
  </header>

  <div class="dataTableArea" *ngIf="!showNoRecordsFoundTemplate">
    <message *ngIf="!isModalOpened" [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
    <div class="table">
      <ul class="thead">
        <li>BRAND NAME & URL</li>
        <li>CREATED DATE</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [disableOnBreakpoints]="false" [compact]="true">
          <ul>
            <li class="row" *ngFor="let brand of brands | paginate: config">
              <div class="rowContainer">
                <div class="tcol">
                  <h2>{{ brand.name }}</h2>
                  <p>{{ brand.url }}</p>
                </div>
                <div class="tcol">
                  <p>{{ brand.created_at | localDateTime }}</p>
                </div>
                <div class="tcol">
                  <a (click)="onEditBrand(brand)" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                  <a (click)="onDeleteBrand(brand.id)" class="delete"><img src="../../../../assets/images/icon_delete_red.png" alt=""></a>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>

      </div>
    </div>
    <!-- Pagination -->
    <pagination-controls *ngIf="brands.length > 0" [autoHide]="true" [responsive]="true" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
  <!-- no content template -->
  <div *ngIf="showNoRecordsFoundTemplate">
    <div class="no-content">
      <figure>
        <img src="../../../../assets/images/clipboards.png" alt="" />
      </figure>
      <div class="no-content-body">
        <h3>No brands yet</h3>
        <p>No brands have been listed here yet.</p>
      </div>

      <div class="ftNone">
        <button class="button-submit" (click)="onAddBrand()">
          Add your first brand
        </button>
      </div>
    </div>
  </div>
  <!-- no content template -->

</div>

<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal" [escapable]="false" [dismissable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        {{ isEditing ? 'Edit' : 'Add' }} Branding
      </h2>
      <message *ngIf="isModalOpened" [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
    </div>
    <div class="sr-modal-body">      
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Brand Name</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" [ngClass]="{error: isSubmitted && getFormControls.brandName.errors}" formControlName="brandName">
                <div class="error-msg" *ngIf="(
                  isSubmitted
                  && getFormControls.brandName.errors !== null
                  && getFormControls.brandName.errors.required)">
                  Brand Name is required
                </div>
              </div>
            </div>
          </div>

          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Brand URL</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" [ngClass]="{error: isSubmitted && getFormControls.brandUrl.errors}" formControlName="brandUrl" placeholder="http://example.com">
                <div class="error-msg" *ngIf="(
                  isSubmitted
                  && getFormControls.brandUrl.errors !== null
                  && getFormControls.brandUrl.errors.required)">
                  Brand URL is required
                </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
              <div class="sr-form-cell">
                  <button class="button-submit" type="">
                      <img src="../../../../assets/images/addIcon.png" alt=""> Save Brand
                  </button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>

<!-- HTML for delete modal -->
<ngx-smart-modal #deleteModal identifier="deleteModal" class="sr-modal modalNotif" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form [formGroup]="form">
        <div class="sr-form">
            <div class="sr-form-row">
              <div class="sr-form-cell btnStyles">
                  <label>Are you sure you want to delete it?</label>
                  <button class="stAccpt" type="button" (click)="delete(brandIdToDelete)">
                    Yes
                  </button>
                  <button class="stReject" type="button" (click)="deleteModal.close()">
                    No
                  </button>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
