<div class="mainBox brandingMain">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <button type="button" class="addReview" (click)="onAddBrand()">
        <img src="../../../../assets/images/addIcon.png" alt="">
        Add Branding
      </button>
    </div>
    <div class="mainBoxHeaderRight">
      <input type="text" placeholder="Search ..." (keyup.enter)="onSearch($event)" [(ngModel)]="searchKey">
    </div>
  </header>
  <div class="dataTableArea">
    <message *ngIf="!isModalOpened" [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
    <div class="table">
      <ul class="thead">
        <li>BRAND NAME & URL</li>
        <li>CREATED DATE</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [compact]="true" *ngIf="brands.length > 0; else noRecords">
          <ul>
            <li class="row" *ngFor="let brand of brands | paginate: config">
              <div class="rowContainer">
                <div class="tcol">
                  <h2>{{ brand.name }}</h2>
                  <p>{{ brand.url }}</p>
                </div>
                <div class="tcol">
                  <p>{{ brand.created_at | localDateTime }}</p>
                </div>
                <div class="tcol">
                  <a (click)="onEditBrand(brand)" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                  <a (click)="onDeleteBrand(brand.id)" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>

        <ng-template #noRecords>
            <ul>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <p>Sorry no brands found</p>
                  </div>
                </div>
              </li>
            </ul>
        </ng-template>
      </div>
    </div>
    <!-- Pagination -->
    <pagination-controls *ngIf="brands.length > 0" [autoHide]="true" [responsive]="true" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>

<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        {{ isEditing ? 'Edit' : 'Add' }} Branding
      </h2>
    </div>
    <div class="sr-modal-body">
      <message *ngIf="isModalOpened" [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Brand Name</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" [ngClass]="{error: isSubmitted && getFormControls.brandName.errors}" formControlName="brandName">
                <div class="error-msg" *ngIf="(
                  isSubmitted
                  && getFormControls.brandName.errors !== null
                  && getFormControls.brandName.errors.required)">
                  Brand Name is required
                </div>
              </div>
            </div>
          </div>

          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Brand URL</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" [ngClass]="{error: isSubmitted && getFormControls.brandUrl.errors}" formControlName="brandUrl">
                <div class="error-msg" *ngIf="(
                  isSubmitted
                  && getFormControls.brandUrl.errors !== null
                  && getFormControls.brandUrl.errors.required)">
                  Brand URL is required
                </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
              <div class="sr-form-cell">
                  <button class="button-submit" type="">
                      <img src="../../../../assets/images/addIcon.png" alt=""> Save Brand
                  </button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #modal2 identifier="modal2" class="sr-modal modalNotif">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="sr-form">
            <div class="sr-form-row">
              <div class="sr-form-cell btnStyles">
                  <label>Are you sure you want to delete it?</label>
                  <button class="stAccpt" type="">
                    Yes
                  </button>
                  <button class="stReject" type="">
                    No
                  </button>
              </div>
            </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
