.vjs-custom-skin > .video-js {
  width: 100%;
  font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
}

.vjs-custom-skin > .video-js .vjs-menu-button-inline.vjs-slider-active,.vjs-custom-skin > .video-js .vjs-menu-button-inline:focus,.vjs-custom-skin > .video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em
}

.vjs-custom-skin > .video-js .vjs-controls-disabled .vjs-big-play-button,
.vidContain .vjs-big-play-button {
  display: none!important
}

.vjs-custom-skin > .video-js .vjs-control {
  width: 3em
}

.vjs-custom-skin > .video-js .vjs-control.vjs-live-control{
  width: auto;
  padding-left: .5em;
  letter-spacing: .1em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-inline:before {
  width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em
}

.vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button,.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button {
  display: block
}

.vjs-custom-skin > .video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button {
  display: none!important
}

.vjs-custom-skin > .video-js .vjs-mouse-display:after,.vjs-custom-skin > .video-js .vjs-play-progress:after {
  padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.vjs-custom-skin > .video-js .vjs-big-play-button {
  display: block
}

.vjs-custom-skin > .video-js .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1em
}

.vjs-custom-skin > .video-js .vjs-big-play-button {
  background-color: rgba(0,0,0,0.45);
  font-size: 3.5em;
   /*border-radius: 50%;*/
  height: 2em !important;
  line-height: 2em !important;
  margin-top: -1em !important
}

.video-js:hover .vjs-big-play-button,.vjs-custom-skin > .video-js .vjs-big-play-button:focus,.vjs-custom-skin > .video-js .vjs-big-play-button:active {
  background-color: rgba(36,131,213,0.9)
}

.vjs-custom-skin > .video-js .vjs-loading-spinner {
  border-color: rgba(36,131,213,0.8)
}

.vjs-custom-skin > .video-js .vjs-control-bar2 {
  background-color: #000000
}

.vjs-custom-skin > .video-js .vjs-control-bar {
   /*background-color: rgba(0,0,0,0.3) !important;*/
  color: #ffffff;
  font-size: 14px
}

.vjs-custom-skin > .video-js .vjs-play-progress,.vjs-custom-skin > .video-js  .vjs-volume-level {
  background-color: #2483d5
}

.vjs-custom-skin > .video-js .vjs-play-progress:before {
  top: -0.3em;
}

.vjs-custom-skin > .video-js .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.3em;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0em;
}

.vjs-custom-skin > .video-js .vjs-menu li {
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
  font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
}

.vjs-custom-skin > .video-js .vjs-time-tooltip,
.vjs-custom-skin > .video-js .vjs-mouse-display:after, 
.vjs-custom-skin > .video-js .vjs-play-progress:after {
  border-radius: 0;
  font-size: 1em;
  padding: 0;
  width: 3em;
  height: 1.5em;
  line-height: 1.5em;
  top: -3em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-popup .vjs-menu {
  width: 5em;
  left: -1em;
}

.vjs-custom-skin > .video-js .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button .vjs-menu {
   /*order: 4;*/
}

 /*排序顺序*/
.vjs-custom-skin > .video-js .vjs-control-bar .vjs-play-control {
  order: 0;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-time-control {
  min-width: 1em;
  padding: 0;
  margin: 0 .1em;
  text-align: center;
  display: block;
  order: 1;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value{
  font-size: 1.2em;
  line-height: 2.4;
}

.vjs-custom-skin > .video-js .vjs-progress-control.vjs-control {
  order: 2;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-volume-menu-button {
  order: 3;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button {
  order: 4;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label {
  display: block;
  line-height: 3em;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-playback-rate {
  order: 5;
}

.vjs-custom-skin > .video-js .vjs-control-bar .vjs-fullscreen-control {
  order: 6;
}

.vidContain .vjs-poster {
    background-color: transparent;
}
.video-player {
    height: 100%;
    width: 100%;
    position: relative;
}
.video-player .video-js {
    width: 100%;
    height: 100%;
}
.video-player .video-js .vjs-control-bar {
    overflow: hidden;
}
.popupTxt .closePopup {
    cursor: pointer;
}
.video-player .vjs-time-divider, 
.video-player .vjs-duration {
    display: none !important;
}
.vidPop .vidContain {
    overflow: hidden;
}.video-player .vjs-time-tooltip {
    display: none !important;
}

/* custom css for audio element */
.vidParent_1,
.vidParent_2,
.vidParent_3,
.vidParent_4,
.vidParent_5 {
  -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.2);
          box-shadow: 0 0 25px rgba(0,0,0,0.2);
  margin-bottom: 35px !important;
}
.popAdd .vidParent_1,
.popAdd .vidParent_2,
.popAdd .vidParent_3,
.popAdd .vidParent_4,
.popAdd .vidParent_5 {
  margin-bottom: 0 !important;
}
.audioRv section.audio-section {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}
.audioRv .audio-section .audio-section__time-container {
    margin: 0 8px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
.audioRv section.audio-section .audio-section__time-container > .audio-section__duration,
.audioRv section.audio-section .audio-section__time-container > .audio-section__time--current {
  font-size: 14px;
  color: #000000;
}
.audioRv section.audio-section .audio-section__time-container > .audio-section__time--current {
  display: none;
}
.audioRv section.audio-section .audio-section__btn-container .audio-section__play__btn--pause, 
.audioRv section.audio-section .audio-section__btn-container .audio-section__play__btn--start {
  margin: 0;
}

.audioRv section.audio-section .audio-section__btn-container {
    width: 30px;
    cursor: pointer;
}
.audioRv section.audio-section .audio-section__progress-container {
  width: calc(100% - 70px);
  margin-top: 0
}

.popupTxt .bodyPopup .audioRv {
    border-radius: 30px;
    border: 1px solid #8C7FD6;
    background-color: #D6D3FC;
    padding: 0 20px 0 10px;
    height: 40px;
}
.audioRv section.audio-section .audio-section__btn-container svg {
    fill: #3A2A98;
    color: #3A2A98;
}
.audioRv section.audio-section .audio-section__progress-container .audio-section__progress__point::after {
  content: none;
}
.audioRv section.audio-section .audio-section__progress-container .audio-section__progress__point {
  width: 9.21px;
  height: 9.21px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: -5px;
  background-color: #E30C5D;
}
.audioRv section.audio-section .audio-section__progress-container .audio-section__progress {
  background-color: #E30C5D;
}
.audioRv section.audio-section .audio-section__progress-container{
  background-color: #B0A6E6;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.popAdd {
  min-height: 307px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  /* pointer-events: none; */
}
.popAdd > div {
  display: block;
  width: 100%;
  height: auto;
}

.popAdd .popupParent {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}
.exitPopup.theme3 .topSec p:not(:empty) + .exitP.exitPg,
.exitPopup.theme4 .bottomSec p:not(:empty) + .exitP.exitPg {
  margin-top: -35px;
}
.exitPopup.theme5 .popupPresent {
    padding-bottom: 0 !important;
}
.exitPopup.theme1 .popupPresent .rightSecContainer p,
.exitPopup.theme2 .popupPresent .rightSecContainer p,
.exitPopup.theme4 .popupPresent .rightSecContainer p,
.exitPopup.theme3 .popupPresent p {
    padding-bottom: 15px !important;
}
.popupPresent .exitP.exitPg {
  margin-top: -10px;
}

.popupParent.audioParent_1 .popup_template_1 .bodyPopup, 
.popupParent.audioParent_2 .popup_template_2 .bodyPopup, 
.popupParent.audioParent_3 .popup_template_3 .bodyPopup, 
.popupParent.audioParent_4 .popup_template_4 .bodyPopup, 
.popupParent.audioParent_5 .popup_template_5 .bodyPopup {
  padding-right: 20px !important;
}