<div class="maintainPages">
    <div class="maintainGfx"></div>
    <div class="maintainGfx2"></div>
    <div class="errorBody">
        <div class="graphicsError">
            <img src="../../../assets/images/sr_404_graphic.png" alt="">
        </div>
        <div class="txtNote text-center">
            <h3>Oops! Something went wrong</h3>
            <p>This page is missing or you assembled the link incorrectly.</p>

            <a [routerLink]="['/home/dashboard']" class="btn-oval">Let's go home</a>
        </div>
    </div>
</div>