<div class="mainBox stickyMain">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <button type="button" class="addReview" (click)="onAddStickyReview()">
        <img src="../../../../assets/images/addIcon.png" alt=""> Add Review
      </button>
    </div>
    <div class="mainBoxHeaderRight" *ngIf="!showNoRecordsFoundTemplate">
      <input type="text" placeholder="Search ..." (keyup.enter)="onSearch($event)" [(ngModel)]="searchKey">
    </div>
  </header>
  <div class="dataTableArea" *ngIf="!showNoRecordsFoundTemplate">
    <message *ngIf="!isModalOpened" [successMessage]="successMessage" [showMessage]="showError"></message>
    <div class="table table-col-4">
      <ul class="thead">
        <li>REVIEWS</li>
        <li>STAR RATING</li>
        <li>CREATED DATE</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [disableOnBreakpoints]="false" [compact]="true">
          <ul>
            <li class="row" *ngFor="let review of reviews | paginate: config">
              <div class="rowContainer">
                <div class="tcol">
                  <div class="userImg" [style.background-image]="'url('+ review.image_url +')'" *ngIf="review.image_url !== null"> </div>
                  <div class="userImg"  *ngIf="review.image_url === null" [style.background-image]="'url(../../../../assets/images/logo_iconography.png)'"> </div>
                  <div class="userReview">
                    <h2>{{ review.name }}
                      <span *ngIf="review.tags.length > 0 && review.tags[0] !== ''" class="stickyTags">
                        <span *ngFor="let tag of review.tags; let i = index">
                        <span class="greenTag" *ngIf="i < 5 && tag!==''"> {{ tag }}</span>
                        </span>
                      </span>
                    </h2>
                    <p>
                      {{ review.description }}
                    </p>
                  </div>
                </div>
                <div class="tcol">
                  <div class="rating">
                    <bar-rating [(rate)]="review.rating" [max]="5" [theme]="'default'" [readOnly]="true"></bar-rating>
                  </div>
                </div>
                <div class="tcol">
                  <p>{{ review.created_at | localDateTime }}</p>
                </div>
                <div class="tcol">
                  <a (click)="onEditStickyReview(review)" class="edit"><img
                      src="../../../../assets/images/icon_edit.png" alt=""></a>
                  <a (click)="onDeleteStickyReview(review.id)" class="delete"><img
                      src="../../../../assets/images/icon_delete_red.png" alt=""></a>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>

      </div>
    </div>
    <!-- Pagination -->
    <pagination-controls *ngIf="reviews.length > 0" [autoHide]="true" [responsive]="true" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>

  <!-- no content template -->
  <div *ngIf="showNoRecordsFoundTemplate">
    <div class="no-content">
      <figure>
        <img src="../../../../assets/images/clipboards.png" alt="" />
      </figure>
      <div class="no-content-body">
        <h3>No review yet</h3>
        <p>No review have been listed here yet.</p>
      </div>

      <div class="ftNone">
        <button class="button-submit" (click)="onAddStickyReview()">
          Add your first review
        </button>
      </div>
    </div>
  </div>
  <!-- no content template -->


</div>

<!-- Modal form for add / edit a sticky review -->
<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        {{ isEditing ? 'Edit' : 'Add' }} Sticky Review(s)
      </h2>
    </div>
    <div class="sr-modal-body">
      <div class="sr-form">
        <message *ngIf="isModalOpened" [showMessage]="showError" [successMessage]="successMessage"></message>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="sr-form-content">
            <div class="sr-form-row">
              <div class="sr-form-cell-small">
                <label>Sticky Review Name</label>
                <div class="sr-form-field">
                  <input type="text" class="sr-form-ctrl"
                    [ngClass]="{error: isSubmitted && getFormControls.srName.errors}" formControlName="srName">
                  <div class="error-msg" *ngIf="(
                      isSubmitted
                      && getFormControls.srName.errors !== null
                      && getFormControls.srName.errors.required)">
                    Sticky review name is required
                  </div>
                  <div class="error-msg" *ngIf="(
                      isSubmitted
                      && getFormControls.srName.errors !== null
                      && getFormControls.srName.errors.maxlength)">
                    Sticky review name should be maximum 25 characters
                  </div>
                </div>
              </div>
              <div class="sr-form-cell-small tagsInp">
                <label>Tags (optional)<a href="javascript:void(0)" class="tooltip" data-title="Add tags for better classification. Separate tags with commas (,).">
                    <img src="../../../../assets/images/icon_info2.png" alt=""></a></label>
                <div class="sr-form-field">
                  <input type="text" class="sr-form-ctrl" formControlName="srTags">
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell-small rating_modals">
                <div class="inFormCell">
                  <label>Rate your review</label>
                  <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" formControlName="srRating"></bar-rating>
                  <div class="error-msg" *ngIf="(
                      isSubmitted
                      && getFormControls.srRating.errors !== null
                      && getFormControls.srRating.errors.required)">
                    Review rating is required
                  </div>
                </div>
                <div class="inFormCell">
                  <label> <div class="switcher switchInForm">
                    <label>
                      <input type="checkbox" class="tglBtn" formControlName="hasBrand" (ngModelChange)="addBrand()">
                      <span></span>
                    </label>
                  </div> Add Brand</label>
                  <div class="sr-form-field" *ngIf="showBrands">
                      <select class="sr-form-ctrl" formControlName="stickyReviewBrand" [ngClass]="{ error: isSubmitted && getFormControls.stickyReviewBrand.errors }" [compareWith]="compareFn">
                        <option value="">Select a brand </option>
                        <option *ngFor="let brand of brands; let i = index" [ngValue]="brand"> {{ brand.name }} </option>
                      </select>
                    <div class="error-msg" *ngIf="(
                    isSubmitted
                    && getFormControls.stickyReviewBrand.errors !== null
                    && getFormControls.stickyReviewBrand.errors.required)">
                      Please select a brand
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-cell-small">
                  <div class="inFormCell">
                    <label>Select Date and Time (Optional)</label>
                    <div class="sr-form-field">
                      <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="sr-form-ctrl dateTime"
                        formControlName="srDateTime" [max]="max" [ngClass]="{ error: isSubmitted && getFormControls.srDateTime.errors }">
                      <div class="error-msg" *ngIf="(
                    isSubmitted
                    && getFormControls.srDateTime.errors !== null
                    && getFormControls.srDateTime.errors)">
                        Please select a valid date/time
                      </div>
                    </div>
                    <owl-date-time #dt1></owl-date-time>

                  </div>
                  <div class="inFormCell">
                    <label style="margin-top: 20px;">Select Review Type:</label>
                    <div class="sr-form-field">
                      <select class="sr-form-ctrl" formControlName="srType">
                        <option [value]="type.id" *ngFor="let type of reviewTypes">{{ type.name }}</option>
                      </select>
                    </div>
                  </div>
              </div>
            </div>

            <div class="sr-form-row">
              <div class="option_review">
                <!-- Textual review  -->
                <div class="sr-form-cell reviewopt opt_Text active" *ngIf="selectedReivewType == 1">
                  <label>Description</label>
                  <div class="sr-form-field">
                    <textarea class="sr-form-ctrl description_textarea"
                      [ngClass]="{error: isSubmitted && getFormControls.sr.errors}" formControlName="sr"></textarea>
                    <div class="error-msg" *ngIf="(
                          isSubmitted
                          && getFormControls.sr.errors !== null
                          && getFormControls.sr.errors.required)">
                      Review is required
                    </div>
                    <div class="error-msg" *ngIf="(
                          isSubmitted
                          && getFormControls.sr.errors !== null
                          && getFormControls.sr.errors.maxlength)">
                      Review should be maximum {{ allowedMaxTextReviewChars }} characters
                    </div>
                  </div>
                </div>
                <!-- End of textual review -->
                <!-- Audio review type file upload -->
                <div class="sr-form-cell reviewopt opt_Video audio_upd active" *ngIf="selectedReivewType == 2">
                  <label>Upload an audio file</label>
                  <div class="sr-form-field">
                    <div class="sr-form-ctrl inputFile">
                      <input type="file" (change)="onChangeReviewFile($event)"
                        [ngClass]="{error: getFormControls.sr.errors}">
                        <div class="error-msg" *ngIf="(
                              getFormControls.sr.errors !== null
                              && getFormControls.sr.errors.required)">
                          Audio file is required
                        </div>
                        <div class="error-msg" *ngIf="(
                              getFormControls.sr.errors !== null
                              && getFormControls.sr.errors.invalidFileType)">
                          Invalid file type. File should be an audio file
                        </div>
                        <div class="error-msg" *ngIf="(
                              getFormControls.sr.errors !== null
                              && getFormControls.sr.errors.invalidFileSize)">
                          Invalid file size. File size should be maximum {{allowedMaxAudioFileSize}} {{unit}}
                        </div>
                      <input type="hidden" name="hiddenFileName" formControlName="sr">
                      <div class="choseFileArea">
                        <div class="fileImg">
                          <img src="../../../../assets/images/icon_upload_audio.png" alt="">
                        </div>
                        <p>
                          <span>{{reviewChoseFileCtrl}}</span>{{reviewFileName}}
                        </p>
                      </div>
                      <div class="figureUpld">
                        <!-- for audio  player-->
                        <app-media [player]="'audio'"></app-media>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of audio file upload -->
                <!-- <app-media [player]="'video'"></app-media> -->
                <!-- Video review type file upload -->
                <div class="sr-form-cell reviewopt opt_Video active" *ngIf="selectedReivewType == 3">
                  <label>Upload a video file</label>
                  <div class="sr-form-field">
                    <div class="sr-form-ctrl inputFile">
                      <input type="file" (change)="onChangeReviewFile($event)"
                        [ngClass]="{error: getFormControls.sr.errors}">
                        <div class="error-msg" *ngIf="(
                            getFormControls.sr.errors !== null
                            && getFormControls.sr.errors.required)">
                          Video is required
                        </div>
                        <div class="error-msg" *ngIf="(
                            getFormControls.sr.errors !== null
                            && getFormControls.sr.errors.invalidFileType)">
                          Invalid file type. File should be an video
                        </div>
                        <div class="error-msg" *ngIf="(
                            getFormControls.sr.errors !== null
                            && getFormControls.sr.errors.invalidFileSize)">
                          Invalid file size. File size should be maximum {{ allowedMaxVideoFileSize }} {{ unit }}
                        </div>
                      <input type="hidden" name="hiddenFileName" formControlName="sr">
                      <div class="choseFileArea">
                        <div class="fileImg">
                          <img src="../../../../assets/images/icon_upload_video.png" alt="">
                        </div>
                        <p>
                          <span>{{reviewChoseFileCtrl}}</span>{{reviewFileName}}
                        </p>
                      </div>

                      <div class="figureUpld">
                        <!-- for video player-->
                        <app-media [player]="'video'"></app-media>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of video file upload -->
              </div>
            </div>
            <!-- Image file upload section -->
            <div class="sr-form-row">
              <div class="sr-form-cell">
                <label>Upload an image</label>
                <div class="sr-form-field">
                  <div class="sr-form-ctrl inputFile">
                    <input type="file" (change)="onChangeFile($event)" formControlName="srImage"
                      [ngClass]="{error: getFormControls.srImage.errors}">
                      <div class="error-msg" *ngIf="(
                          isSubmitted
                          && getFormControls.srImage.errors !== null
                          && getFormControls.srImage.errors.required)">
                        Image is required
                      </div>
                      <div class="error-msg" *ngIf="(
                            getFormControls.srImage.errors !== null
                            && getFormControls.srImage.errors.invalidFileType)">
                        Invalid file type. File should be an image
                      </div>
                      <div class="error-msg" *ngIf="(
                            getFormControls.srImage.errors !== null
                            && getFormControls.srImage.errors.invalidFileSize)">
                        Invalid image size. Image size should be maximum {{ allowedMaxImageFileSize }} {{ unit }}
                      </div>
                      <input type="hidden" formControlName="srImage" />
                    <div class="choseFileArea">
                      <div class="fileImg">
                        <img src="../../../../assets/images/icon_upload_photo.png" alt="">
                      </div>
                      <p>
                        <span>{{choseFileCtrl}}</span>{{fileName}}
                      </p>
                    </div>
                    <div class="figureUpld" [style.background-image]="'url('+ imagePreviewUrl +')'"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="sr-form-row">
            <div class="sr-form-cell">
              <button class="button-submit" type="submit">
                <img src="../../../../assets/images/addIcon.png" alt=""> Save Reviews
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ngx-smart-modal>
<!-- Modal ends -->


<!-- HTML for delete modal -->
<ngx-smart-modal #deleteModal identifier="deleteModal" class="sr-modal modalNotif" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form [formGroup]="form">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell btnStyles">
              <label>Are you sure you want to delete it?</label>
              <button class="stAccpt" type="button" (click)="delete(stickyReviewIdToDelete)">
                Yes
              </button>
              <button class="stReject" type="button" (click)="deleteModal.close()">
                No
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
