<div class="container">
  <app-left-panel></app-left-panel>

  <div class="rightPanel">
    <header class="rightPanHeader">
      <div class="headerLeft">
        <a href=""></a>
      </div>
      <div class="headerRight">
        <img src="../../../../assets/images/pp.png" alt="">
      </div>
    </header>

    <div class="mainBox">
      <header class="mainBoxHeader">
        <div class="mainBoxHeaderLeft">
          <button type="button" class="addReview" (click)="ngxSmartModalService.getModal('modal1').open()"><img src="../../../../assets/images/addIcon.png" alt=""> Add Brand</button>
        </div>
        <div class="mainBoxHeaderRight">
          <input type="text" placeholder="Search ...">
        </div>
      </header>
      <div class="dataTableArea">
        <div class="table">
          <ul class="thead">
            <li>BRAND NAME & URL</li>
            <li>CREATED DATE</li>
            <li>ACTION(S)</li>
          </ul>
          <div class="tbody">
            <ng-scrollbar [compact]="true">
            <ul>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                <div class="tcol">
                  <h2>Sticky Reviews</h2>
                  <p>https://www.usestickyreviews.com</p>
                </div>
                <div class="tcol">
                  <p>Dec 3, 2018, 5:39:18 PM</p>
                </div>
                <div class="tcol">
                  <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                  <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="row">
                <div class="rowContainer">
                  <div class="tcol">
                    <h2>Sticky Reviews</h2>
                    <p>https://www.usestickyreviews.com</p>
                  </div>
                  <div class="tcol">
                    <p>Dec 3, 2018, 5:39:18 PM</p>
                  </div>
                  <div class="tcol">
                    <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                    <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                  </div>
                </div>
              </li>
            </ul>
          </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
          Add Brand
      </h2>
    </div>
    <div class="sr-modal-body">
      <div class="sr-form">
        <div class="sr-form-row">
          <div class="sr-form-cell">
            <label>Brand Name</label>
            <div class="sr-form-field">
              <input type="text" class="sr-form-ctrl error">
              <div class="error-msg">
                Brand Name is not valid
              </div>
            </div>
          </div>
        </div>
        <div class="sr-form-row">
          <div class="sr-form-cell">
            <label>Brand URL</label>
            <div class="sr-form-field">
              <input type="text" class="sr-form-ctrl">
              <div class="error-msg">
                Brand URL is not valid
              </div>
            </div>
          </div>
        </div>
        <div class="sr-form-row">
          <div class="sr-form-cell">
            <button class="button-submit">
              <img src="../../../../assets/images/addIcon.png" alt=""> Save Brand
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>

