<!-- Tear droup sticky review style -->
<!-- Add pop_small class to popupparent elements OR popupParent's parent element when parent space is less than 320px -->
<div class="popupParent" [ngClass]="reviewData.type === 2 ? 'audioParent_3':''" *ngIf="reviewData.type !== 3">
    <div class="popupTxt popup_template_3" style="margin-bottom: 30px;">
        <div class="figPopup">
            <figure>
                <img src="../../../../../../assets/images/face_icon.png" alt="face_icon" *ngIf="reviewData.image === ''">
                <img src="https://{{reviewData.url_link}}/storage/images/{{reviewData.image}}" alt="reviewImage" *ngIf="reviewData.image !== ''">
            </figure>
        </div>
        <div class="bodyPopup">
            <h6>{{reviewData.name}} </h6>
            <p *ngIf="reviewData.type === 1">{{reviewData.description}} </p>
            <!-- Audio Type review -->
            <div class="audioRv" *ngIf="reviewData.type === 2">
                <audio src="https://{{reviewData.url_link}}/storage/audios/{{reviewData.description }}" controls controlslist="nodownload"></audio>
            </div>
            <footer class="popupFt">
                <span class="timePop">{{getReviewTimeFormated(reviewData.created_at)}}</span>
                <span class="pwBy"><img src="../../../../../../assets/images/icon_poweredby.png" alt="">by</span>
                <span *ngIf="reviewData.has_brand === 1"> {{reviewData.brands.name  |  slice:0:10 }}</span>
                <span *ngIf="reviewData.review_link.campaign.branding === 1"> {{reviewData.review_link.campaign.branding_details.brand_name  |  slice:0:10 }}</span>
                <figure *ngFor="let rating of getStars(reviewData.rating)">
                    <img src="../../../../assets/images/small_star_active.png" alt="">
                </figure>
            </footer>
        </div>
        <a href="javascript:void(0)" class="closePopup"></a>
    </div>
</div>

<!-- Video Review -->

<div style="display: block;" class="popAdd vidPreV_parent" *ngIf="reviewData.type === 3">
    <div class="popupParent vidParent_3">
        <div class="vidPop">
            <div class="animateVid">
                                <span class="keyF1">
                                  <img src="../../../../assets/images/video_thumbs.png" alt="">
                                </span>
                <span class="keyF2">
                                  <img src="../../../../assets/images/video_triangle.png" alt="">
                                </span>
                <span class="keyF3">
                                  <img src="../../../../assets/images/video_star_2.png" alt="">
                                </span>
                <span class="keyF4">
                                  <img src="../../../../assets/images/video_star_1.png" alt="">
                                </span>
                <span class="keyF5">
                                  <img src="../../../../assets/images/video_star_3.png" alt="">
                                </span>
                <span class="keyF6">
                                  <img src="../../../../assets/images/video_star_4.png" alt="">
                                </span>
            </div>
            <div class="vidContain">
                <!-- video player will go here -->
                <video controlslist="nodownload" disablepictureinpicture width="320" height="240" controls>
                    <source src="https://{{reviewData.url_link}}/storage/videos/{{reviewData.description}}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="popupTxt popup_template_3">
            <div class="figPopup">
                <figure>
                    <img src="../../../../assets/images/face_icon.png" alt="reviewImage" *ngIf="reviewData.image === ''">
                    <img src="https://{{reviewData.url_link}}/storage/images/{{reviewData.image}}" alt="reviewImage" *ngIf="reviewData.image !== ''">
                </figure>
            </div>
            <div class="bodyPopup">
                <h6>{{reviewData.name}} </h6>

                <footer class="popupFt">
                    {{getReviewTimeFormated(reviewData.created_at)}}
                    <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
                    by
                    <span *ngIf="reviewData.has_brand === 1"> {{reviewData.brands.name  |  slice:0:10 }}</span>
                    <span *ngIf="reviewData.review_link.campaign.branding === 1"> {{reviewData.review_link.campaign.branding_details.brand_name  |  slice:0:10 }}</span>
                    <figure *ngFor="let rating of getStars(reviewData.rating)">
                        <img src="../../../../assets/images/small_star_active.png" alt="">
                    </figure>
                </footer>
            </div>
            <a href="javascript:void(0)" class="closePopup"></a>
        </div>
    </div>
</div>