<div class="container">
    <app-left-panel></app-left-panel>
  
    <div class="rightPanel">
      <app-header></app-header>
  
      <div class="mainBox d-table">
        <div class="dataTableArea">
          <div class="plansArea">
            <h1>
              Upgrade membership plan
              <span>Select the membership plan you want to go for</span>
            </h1>
            <div class="plans clearfix">
              <div class="plan clearfix">
                <div class="planCell">
                  <div class="planHead">
                    <div class="planImg"><img src="../../../../assets/images/icon_price_plan_starter.png" alt=""></div>
                    <h2>STARTER</h2>
                  </div>
                  <ul class="features">
                    <li><strong>2 Domains</strong></li>
                    <li>Unlimited Sticky Reviews</li>
                    <li>Unlimited Visitors</li>
                    <li>Multiple Elegant Designs</li>
                    <li>Custom Branding</li>
                    <li><strong>No Review Links</strong></li>
                  </ul>
                  <p class="price">$15</p>
                  <button type="button" class="planBtn current">CURRENT</button>
                </div>
                <div class="planCell">
                  <div class="planHead">
                    <div class="planImg"><img src="../../../../assets/images/icon_price_plan_premium.png" alt=""></div>
                    <h2>PREMIUM</h2>
                  </div>
                  <ul class="features">
                    <li><strong>10 Domains</strong></li>
                    <li>Unlimited Sticky Reviews</li>
                    <li>Unlimited Visitors</li>
                    <li>Multiple Elegant Designs</li>
                    <li>Custom Branding</li>
                    <li><strong>5 Review Links</strong></li>
                  </ul>
                  <p class="price">$25</p>
                  <button type="button" class="planBtn">UPGRADE</button>
                </div>
                <div class="planCell">
                  <div class="planHead">
                    <div class="planImg"><img src="../../../../assets/images/icon_price_plan_agency.png" alt="" class="acencyImg"></div>
                    <h2>AGENCY</h2>
                  </div>
                  <ul class="features">
                    <li><strong>Unlimited Domains</strong></li>
                    <li>Unlimited Sticky Reviews</li>
                    <li>Unlimited Visitors</li>
                    <li>Multiple Elegant Designs</li>
                    <li>Custom Branding</li>
                    <li><strong>Unlimited Review Links</strong></li>
                  </ul>
                  <p class="price">$47</p>
                  <button type="button" class="planBtn">UPGRADE</button>
                </div>
              </div>

              <div class="planNote text-center">
                <p>
                    *Billed monthly, <span class="link-inline">no set up fee.</span>
                </p>
              </div>

              <div class="cancelReg">
                <p>I want to <a href="javascript:void(0)" class="link-inline">Cancel my membership.</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="membershipCancellation text-center d-cell">
            <div class="cancelReason">
              <div class="ico">
                <img src="../../../../assets/images/logo_iconography.png" alt="">
              </div>
              <h2>Cancellation of Sticky Reviews Membership</h2>
              <p>We are so sad to see you go. We would like you to tell us the reason of cancellation of your membership. This would help us to serve the community better experience.</p>

              <div class="formCancellation">
                <form>
                    <div class="sr-form-row">
                      <div class="sr-form-cell">
                        <label>Select your Reason</label>
                        <div class="sr-form-field">
                          <select class="sr-form-ctrl customSelect">
                            <option>Others</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="sr-form-row">
                      <div class="sr-form-cell">
                        <label>Describe your reason</label>
                        <div class="sr-form-field">
                          <textarea class="sr-form-ctrl" placeholder="Be as descriptive as possible"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="sr-form-row">
                      <button class="button-submit">
                        Submit
                      </button>
                    </div>
                </form>
              </div>
            </div>
            <div class="cancellationConfirmation">
                <figure>
                  <img src="../../../../assets/images/icon_tick_confirmation.png" alt="">
                </figure>
                <h2>Your subscription has been cancelled successfully.</h2>
                <p>Hey Jon, Thanks for being a premium user of Sticky Reviews so far. <br>We would be happy to you see back again.</p>
                <p>Your account has been suspended and you can Subscribe again whenever you want.</p>
            </div>
        </div> -->
      </div>
    </div>
  </div>
  
  
  
  
  <ngx-smart-modal #modal1 identifier="modal1" class="sr-modal">
    <div class="sr-modal-container">
      <div class="sr-modal-header">
        <h2>
            Add Campaign
        </h2>
      </div>
      <div class="sr-modal-body">
        <div class="sr-form">
          <div class="sr-form-content" #mainScreen [ngClass]="{'activeScroll': scrollTrigger}">
            <ng-scrollbar [compact]="true" class="formScroll">
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Campaign Name</label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl">
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                </div>
                <div class="sr-form-cell-small">
                  <label>Domain Name</label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl">
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Choose Visual Style</label>
                  <div class="sr-form-field">
                    <select class="sr-form-ctrl">
                      <option value=""></option>
                    </select>
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                  <div class="style-preview">
                    <div class="review-box">
                      <div class="reviewer-img"></div>
                      <div class="review-main">
                        <div class="reviewer-name">Mark Williams</div>
                        <div class="rewiew-msg">Just awesome</div>
                        <div class="review-main-footer">
                          <span class="rewiew-time">
                            7 days ago
                          </span>
                          <img src="../../../../assets/images/icon_poweredby.png" alt="" class="poweredBy"> by 
                          <span class="brand-name">Tier5LLC</span>
                          <div class="reviewer-rating">
                            <span><img src="../../../../assets/images/small_star_active.png" alt=""></span>
                            <span><img src="../../../../assets/images/small_star_active.png" alt=""></span>
                            <span><img src="../../../../assets/images/small_star_active.png" alt=""></span>
                            <span><img src="../../../../assets/images/small_star_active.png" alt=""></span>
                            <span><img src="../../../../assets/images/small_star_active.png" alt=""></span>
                          </div>
                        </div>
                      </div>
                      <div class="closeReview"></div>
                    </div>
                  </div>
                </div>
                <div class="sr-form-cell-small">
                  <label>Choose Visual Style</label>
                  <div class="option-list">
                    <ul>
                      <li>
                        <input type="checkbox" class="sr-checkbox"><span>Just awesome</span>
                      </li>
                      <li>
                        <input type="checkbox" class="sr-checkbox"><span>Great Product to ...</span>
                      </li>
                      <li>
                        <input type="checkbox" class="sr-checkbox"><span>Highly reccomme ...</span>
                      </li>
                      <li>
                        <input type="checkbox" class="sr-checkbox"><span>Amazing software ...</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Delay Before Start</label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl">
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                </div>
                <div class="sr-form-cell-small">
                  <label>Stay Timing<span>(ex: 1000 for 1 second)</span></label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl">
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Delay between next appearance<span>(ex: 1000 for 1 second)</span></label>
                  <div class="sr-form-field small">
                    <input type="text" class="sr-form-ctrl">
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>Add Branding <input type="checkbox" class="tglBtn"></label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl">
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                </div>
                <div class="sr-form-cell-small">
                  <label>Add Exit Pop-up <input type="checkbox" class="tglBtn"></label>
                  <div class="sr-form-field">
                    <input type="text" class="sr-form-ctrl">
                    <div class="error-msg">
                      Brand Name is not valid
                    </div>
                  </div>
                </div>
              </div>
            </ng-scrollbar>
          </div>
  
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <button class="button-submit">
                <img src="../../../../assets/images/addIcon.png" alt=""> Save Campaign
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button (click)="myModal.close()">Close</button> -->
  </ngx-smart-modal>
  
  
  
  