#search-box {
  width: 20%;
  float: right;
  margin: 2px 0px 0px 4px;
}
#add-review-link {
  float: right;
}
.error-alert {
  color: red;
  margin: 1px 0px 2px 2px;
  height: auto;
  width: auto;
}
.has-error-custom {
  border: 1px solid red;
}
.success-alert {
  color: #28a745;
  margin: 1px 0px 2px 2px;
  height: auto;
  width: auto;
}
/deep/ .mat-accent .mat-radio-inner-circle {
  background-color: #3f51b5 !important;
}
/deep/ .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #3f51b5 !important;
}
.btn-suggestion:hover {
  background: none;
  border: none;
  cursor: help;
}
