<!-- Dashboard -->
<div class="mainBox dashboardMain">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <h1>
        Dashboard
      </h1>
    </div>
  </header>
  <div class="dataTableArea">
    <div class="dashVideos clearfix">
      <div class="dashVideo_e">
        <div class="hdrVdo">
          <h4>A Brief Overview</h4>
        </div>
        <div class="dashVid_body">
          <iframe class="vidFrame" src="https://www.youtube.com/embed/EvXovZNbOa4" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
      <div class="dashVideo_e">
        <div class="hdrVdo">
          <h4>Brands</h4>
        </div>
        <div class="dashVid_body">
          <iframe class="vidFrame" src="https://www.youtube.com/embed/CpAVXulYq18" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
      <div class="dashVideo_e">
        <div class="hdrVdo">
          <h4>Campaigns</h4>
        </div>
        <div class="dashVid_body">
          <iframe class="vidFrame" src="https://www.youtube.com/embed/mSFAdrgWl3g" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
      <div class="dashVideo_e">
        <div class="hdrVdo">
          <h4>The Actual Sticky Reviews</h4>
        </div>
        <div class="dashVid_body">
          <iframe class="vidFrame" src="https://www.youtube.com/embed/Qdb3XuhCyl4" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
      <div class="dashVideo_e">
        <div class="hdrVdo">
          <h4>Exit Pop Ups</h4>
        </div>
        <div class="dashVid_body">
          <iframe class="vidFrame" src="https://www.youtube.com/embed/5oS7ZIl3wso" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
      <div class="dashVideo_e">
        <div class="hdrVdo">
          <h4>Review Links</h4>
        </div>
        <div class="dashVid_body">
          <iframe class="vidFrame" src="https://www.youtube.com/embed/xroiW3TkNTk" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
      <div class="dashVideo_e">
        <div class="hdrVdo">
          <h4>A few More things</h4>
        </div>
        <div class="dashVid_body">
          <iframe class="vidFrame" src="https://www.youtube.com/embed/Gq1GnK-Zu9o" allowfullscreen frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Dashboard -->
