<div class="mainBox">
  <div class="updatePaymentInfo">
    <h1>
      <span class="cardIcon"><img src="../../../../assets/images/icon_update_card.png" alt=""></span>
      Update Payment Info
      <span>You have added following card information with your account</span>
    </h1>
    <div class="cards">
      <message *ngIf="!isModalOpened" [successMessage]="successMessage" [showMessage]="showError"></message>
      <ul *ngIf="card">
        <li>
          <div class="cardNumber">
            <span>CARD NUMBER</span>
            <p>xxxx xxxx xxxx {{card.number}}</p>
          </div>
          <div class="expDate">
            <span>EXPIRY (MM/YY)</span>
            <p>{{card.expiry_month}}/{{card.expiry_year}}</p>
          </div>
        </li>
      </ul>
      <ul *ngIf="!card">
        <li>
          <p>You don't have any card</p>
        </li>
      </ul>
      <button type="button" class="UpdateCardBtn" (click)="onClickCardInfo()">{{card ? 'Update' : 'Add'}} My Card Info</button>
    </div>
  </div>
</div>
<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal" [escapable]="false" [dismissable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        {{card ? 'Update' : 'Add'}} Credit Card Info
      </h2>      
    </div>
    <div class="sr-modal-body">
      <form [formGroup]="cardForm" (ngSubmit)="add()">
        <div class="cardForm updateCardModal">
          <h2>Credit Card Information</h2>
          <message *ngIf="isModalOpened" [successMessage]="successMessage" [showMessage]="showError"></message>
          <div class="formRow">
            <div class="formCol6" [ngClass]="{'error' : !cardForm.get('card_number').valid && cardForm.get('card_number').touched}">
              <label>Credit Card Number</label>
              <input
                type="text"
                class="formCtrl card"
                mask="0000 0000 0000 0000"
                formControlName="card_number">
              <span class="error-msg"
                    *ngIf="!cardForm.get('card_number').valid && cardForm.get('card_number').touched && cardForm.get('card_number').errors.required">
                    Required!
              </span>
              <span class="error-msg"
                    *ngIf="!cardForm.get('card_number').valid && cardForm.get('card_number').touched && cardForm.get('card_number').errors.minlength">
                    Minimum length 14
              </span>
            </div>
            <div class="formCol4" [ngClass]="{'error' : !cardForm.get('cvc_number').valid && cardForm.get('cvc_number').touched}">
              <label>CVC Number</label>
              <input
                type="password"
                class="formCtrl"
                mask="0000"
                formControlName="cvc_number">
                <span class="error-msg"
                  *ngIf="!cardForm.get('cvc_number').valid && cardForm.get('cvc_number').touched && cardForm.get('cvc_number').errors.required" class="error-msg">
                  Required!
              </span>
              <span class="error-msg"
                *ngIf="!cardForm.get('cvc_number').valid && cardForm.get('cvc_number').touched && cardForm.get('cvc_number').errors.minlength" class="error-msg">
                  Minimum length 3
              </span>
            </div>
          </div>
          <div class="formRow">
            <div class="formCol5">
              <label>Expiry Month</label>
              <select class="formCtrl" formControlName="expiry_month">
                <option [value]="month" *ngFor="let month of [01,02,03,04,05,06,07,08,09,10,11,12]; let y = index">{{month}}</option>
              </select>
              <span class="error-msg"
                *ngIf="!cardForm.get('expiry_month').valid && cardForm.get('expiry_month').touched && cardForm.get('expiry_month').errors.required" class="error-msg">
                  Required
              </span>
            </div>
            <div class="formCol5">
              <label>Expiry Year</label>
              <select class="formCtrl" formControlName="expiry_year" >
                <option [value]="year" *ngFor="let year of years; let y = index">{{year}}</option>
              </select>
              <span class="error-msg"
                *ngIf="!cardForm.get('expiry_year').valid && cardForm.get('expiry_year').touched && cardForm.get('expiry_year').errors.required" class="error-msg">
                  Required
              </span>
            </div>
          </div>
          <div class="formRow">
            <button type="submit" class="UpdateCardBtn">{{card ? "Update" : "Add"}} My Card Info</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>
