.credit-card {
  background: whitesmoke;
  padding: 20px 10px 0px 10px;
  border: 2px solid #CCC;
  border-radius: 4px;
  height: auto;
}
.creadit-card-type {
  float: right;
}
.error-input {
  border: 1px solid red;
}
.error-input:focus {
  border: none;
}
.creadit-card-type > img {
  height: 50px;
}
#main-wrapper {
  background: #007bff;
  height: 40%;
}
