<!-- Add pop_small class to popup parent elements OR popupParent's parent element when parent space is less than 320px -->
<div class="popupParent pop_small">
  <div class="popupTxt popup_template_1" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
          <span class="timePop">7 days ago</span>
          <span class="pwBy"><img src="../../../../../../assets/images/icon_poweredby.png" alt="">by</span>
          <a href="javascript:void(0)">Tier5LLC</a>
        <figure class="rateStar">
            <i class="star">
              &#9734;
            </i>
            <i class="star">
              &#9734;
            </i>
            <i class="star">
              &#9734;
            </i>
            <i class="star">
              &#9734;
            </i>
            <i class="star inactive">
              &#9734;
            </i>
          </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>