<header class="rightPanHeader">
  <div class="headerLeft" [ngClass]="tglFlag ? 'active' : ''">
    <a class="gear" (click)="tglSetting()" (clickOutside)="closeMembershipBox($event)"></a>

    <div class="settingDrop">
      <div class="topSec">
        <h2 *ngIf="userPlanDetails && (userPlanDetails.status === 'ACTIVE' || userPlanDetails.status === 'NA')">
          <span>Your current</span>
          membership plan
        </h2>
        <h2 *ngIf="userPlanDetails && userPlanDetails.status !== 'ACTIVE' && userPlanDetails.status !== 'NA'">
          <span>Your current</span>
            You haven't subscribe
        </h2>
        <div class="planName" *ngIf="userPlanDetails && (userPlanDetails.status === 'ACTIVE' || userPlanDetails.status === 'NA')">
          {{currentPlanName}}
        </div>
        <span (click)="closeDrawer()"><a [routerLink]="['/home/plans']" class="upgrade">{{ (userPlanDetails && userPlanDetails.status !== 'ACTIVE' && userPlanDetails.status !== 'NA') ? 'Add' : 'Update' }} Now</a></span>
      </div>
      <div class="bottomSec" *ngIf="showUpdateCard === 1">
        <ul>
          <li (click)="closeDrawer()"><a [routerLink]="['/home/update-payment-info']" routerLinkActive="active">{{ (userPlanDetails && userPlanDetails.status !== 'ACTIVE' && userPlanDetails.status !== 'NA') ? 'Add' : 'Update' }} Payment Info</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="headerRight" [ngClass]="tglProfile ? 'active' : ''">
      <a class="support_logged" href="https://www.usestickyreviews.com/support" target="_blank">
        <span>
          <img src="../../../../../assets/images/baseline_contact_support_white_18dp.png" alt="">
        </span>
        Support
      </a>
      <a class="hdrProfile" (click)="tglProfileMenu()" (clickOutside)="closeProfileBox($event)" [style.background-image]="'url('+ userImageUrl +')'"></a>
      <div class="settingDrop">
        <ul>
          <li (click)="closeDrawer()"><a [routerLink]="['/home/profile']" routerLinkActive="active">Edit Profile</a></li>
          <li (click)="closeDrawer()"><a [routerLink]="['/home/custom-domains']" routerLinkActive="active">Custom Domains</a></li>
          <li (click)="closeDrawer()"><a [routerLink]="['/home/zapier-settings']" routerLinkActive="active">Zapier Settings</a></li>
          <li (click)="closeDrawer()"><a (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
  </div>

  <a (click)="tglSideMenu()" [ngClass]="tglSide ? 'active' : ''" class="toggleSideMenu">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>
