<div class="loaderOuter" *ngIf="loader">
  <div class="loaderContainer">
      <div class="loader">
          <img src="../../../../assets/images/face_icon.png" alt="">
      </div>
      <div class="loaderShadow"></div>
  </div>
</div>

<header class="rightPanHeader">
  <div class="headerLeft" [ngClass]="tglFlag ? 'active' : ''">
    <a class="gear" (click)="tglSetting()" (clickOutside)="closeMembershipBox($event)"></a>

    <div class="settingDrop">
      <div class="topSec">
        <h2 *ngIf="userPlanDetails && userPlanDetails.status === 'ACTIVE'">
          <span>Your current</span>
          membership plan
        </h2>
        <h2 *ngIf="userPlanDetails && userPlanDetails.status !== 'ACTIVE'">
          <span>Your current</span>
            You haven't subscribe
        </h2>
        <div class="planName" *ngIf="userPlanDetails && userPlanDetails.status === 'ACTIVE'">
          {{currentPlanName}} 
        </div>
        <a [routerLink]="['/home/plans']" class="upgrade">{{(userPlanDetails && userPlanDetails.status !== 'ACTIVE') ? 'Add' : 'Update'}} Now</a>
      </div>
      <div class="bottomSec">
        <ul>
          <li><a [routerLink]="['/home/update-payment-info']" routerLinkActive="active">{{(userPlanDetails && userPlanDetails.status !== 'ACTIVE') ? 'Add' : Update}} Payment Info</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="headerRight" [ngClass]="tglProfile ? 'active' : ''">
      <a class="hdrProfile" (click)="tglProfileMenu()" (clickOutside)="closeProfileBox($event)" [style.background-image]="'url('+ userImageUrl +')'"></a>
      <div class="settingDrop">
        <ul>
          <li><a [routerLink]="['/home/profile']" routerLinkActive="active">Edit Profile</a></li>
          <li><a (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
  </div>

  <a href="javascript:void(0)" (click)="tglSideMenu()" [ngClass]="tglSide ? 'active' : ''" class="toggleSideMenu">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>