<div class="stepReview step_6 ">
  <form class="form_eParent" (ngSubmit)="onSubmit()">
    <div class="formRow">
      <label>Your Email</label>
      <div class="inRowRvw sr-form-field">
        <input class="sr-form-ctrl" type="email" placeholder="Enter your email" />
        <div _ngcontent-c4="" class="error-msg"></div>
      </div>
    </div>
    <div class="formRow">
      <label>Phone No (Optional)</label>
      <div class="inRowRvw sr-form-field">
        <input class="sr-form-ctrl" type="tel" placeholder="Enter your phone no" />
        <div _ngcontent-c4="" class="error-msg"></div>
      </div>
    </div>

    <div class="ftReview">
      <button type="submit" class="btnOutline btnApprove">
        Save
      </button>
    </div>
  </form>
</div>