<div class="mainBox subscribedMain">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderRight" *ngIf="!showNoRecordsFoundTemplate">
      <input type="text" placeholder="Search ..." (keyup.enter)="onSearch($event)" [(ngModel)]="searchKey">
    </div>
  </header>
  <div class="dataTableArea" *ngIf="!showNoRecordsFoundTemplate">
    <message [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
    <div class="table table-col-4">
      <ul class="thead">
        <li>EMAIL</li>
        <li>EXIT POPUP</li>
        <li>CREATED AT</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [compact]="true">
          <ul>
            <li class="row" *ngFor="let email of emails | paginate: config">
              <div class="rowContainer">
                <div class="tcol">
                  <p>{{ email.email }}</p>
                </div>
                <div class="tcol">
                  <p>{{email.exit_popup.name}}</p>
                </div>
                <div class="tcol">
                  <p>{{email.created_at | localDateTime }}</p>
                </div>
                <div class="tcol">
                  <a (click)="onDeleteSubscribedEmail(email.id)" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    </div>
    <!-- Pagination -->
    <pagination-controls *ngIf="emails.length > 0" [autoHide]="true" [responsive]="true" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>

  <!-- no content template -->
  <div *ngIf="showNoRecordsFoundTemplate">
    <div class="no-content">
      <figure>
        <img src="../../../../assets/images/clipboards.png" alt="" />
      </figure>
      <div class="no-content-body">
        <h3>No emails yet</h3>
        <p>No emails been listed here yet.</p>
      </div>
    </div>
  </div>
  <!-- no content template -->

</div>


<!-- HTML for delete modal -->
<ngx-smart-modal #deleteModal identifier="deleteModal" class="sr-modal modalNotif" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form>
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell btnStyles">
              <label>Are you sure you want to delete it?</label>
              <button class="stAccpt" type="button" (click)="delete(subscribedEmailIdToDelete)">
                Yes
              </button>
              <button class="stReject" type="button" (click)="deleteModal.close()">
                No
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
