<div class="loaderOuter" *ngIf="loader">
  <div class="loaderContainer">
      <div class="loader">
          <img src="../../../../assets/images/face_icon.png" alt="">
      </div>
      <div class="loaderShadow"></div>
  </div>
</div>

<header class="rightPanHeader">
  <div class="headerLeft" [ngClass]="tglFlag ? 'active' : ''">
    <a class="gear" (click)="tglSetting()"></a>

    <div class="settingDrop">
      <div class="topSec">
        <h2>
          <span>Your current</span>
          membership plan
        </h2>
        <div class="planName">
          STARTER
        </div>
        <a [routerLink]="['/dashboard/plans']" class="upgrade">Upgrade Now</a>
      </div>
      <div class="bottomSec">
        <ul>
          <li><a [routerLink]="['/dashboard/update-payment-info']" routerLinkActive="active">Update Payment Info</a></li>
        </ul>
      </div>
    </div>

  </div>
  <div class="headerRight" [ngClass]="tglProfile ? 'active' : ''">
      <a class="hdrProfile" (click)="tglProfileMenu()" style="background-image:url(../../../../assets/images/pp.png)"></a>
      <div class="settingDrop">
        <ul>
          <li><a [routerLink]="['/dashboard/profile']" routerLinkActive="active">Edit Profile</a></li>
          <li><a (click)="onLogout()">Logout</a></li>
        </ul>
      </div>
  </div>

  <a href="javascript:void(0)" (click)="tglSideMenu()" [ngClass]="tglSide ? 'active' : ''" class="toggleSideMenu">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>