<div class="loginContainer">
  <div class="leftPanel">
    <div class="leftLogo">
      <a [routerLink]="['/']"><img src="../../../assets/images/Sticky_Reviews_logo_text.png" alt=""></a>
    </div>
  </div>
  <div class="rightPanel">
    <h1>
      Welcome back
      <span>Login to continue using Sticky Reviews</span>
    </h1>
    <div class="formArea">
      <message [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="formRow"
          [ngClass]="{active : emailFieldFocused, error : isSubmitted && loginFormControls.email.errors}">
          <input type="text" class="formCtrl" id="email" formControlName="email" (focus)="onFocus('email', $event)"
            (blur)="onFocusOut('email', $event)" autocomplete="off">
          <label>Email</label>
          <div class="error" *ngIf="(
            isSubmitted
            && loginFormControls.email.errors !== null
            && loginFormControls.email.errors.required)">
            Email address is required
          </div>
          <div class="error" *ngIf="(
            isSubmitted
            && loginFormControls.email.errors !== null
            && loginFormControls.email.errors.email)">
            Please enter a valid email address
          </div>
        </div>
        <div class="formRow"
          [ngClass]="{active : passwordFieldFocused, error : isSubmitted && loginFormControls.password.errors}">
          <input type="password" class="formCtrl" id="password" formControlName="password"
            (focus)="onFocus('password', $event)" (blur)="onFocusOut('password', $event)">
          <label>Password</label>
          <div class="error" *ngIf="(
            isSubmitted
            && loginFormControls.password.errors !== null
            && loginFormControls.password.errors.required)">
            Password is required
          </div>
        </div>
        <div class="formRow2">
          <div class="rememberMe">
            <input type="checkbox" formControlName="rememberMe" [value]="false"> Remember me
          </div>
          <a [routerLink]="['/forgot-password']" class="forgotPass">Forgot your Password?</a>
          <div class="clear"></div>
        </div>
        <div class="formRow2">
          <button type="submit" class="loginBtn">LOGIN</button>
        </div>
        <div class="formRow2">
          <p class="registerLink">
            Don't have any account? <a [routerLink]="['/sign-up']">Register Here</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Loader -->
<!-- <div class="loaderOuter" *ngIf="loader">
  <div class="loaderContainer">
    <div class="loader">
      <img src="../../../assets/images/face_icon.png" alt="">
    </div>
    <div class="loaderShadow"></div>
  </div>
</div> -->

<!-- Place for the cookie script -->
<!-- cookies -->
<div class="cookieCompliance showCookie" *ngIf="showCookie">
  <div class="container">
    <p>
      We use cookies to offer you a better experience and analyze site traffic. By continuing to use this
      website, you consent to the use of cookies
    </p>

    <button class="closeCookie" (click)="closeCookie()">
      Accept
    </button>
  </div>
</div>


