.white-btn .main-btn {
  cursor: pointer;
}
#main-wrapper {
  background: #007bff;
  height: 40%;
}
.cookies-privacy {
  background: #34495E;
  text-align: center;
  font-size: 17px;
  color: #fff;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  height: 85px;
}
.cookies-privacy > .row {
  margin-top: 1%;
}
.dismiss-cookies {
  margin-left: 20px;
}
.dismiss {
  float: right;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cookies-privacy {
    background: #34495E;
    height: 85px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
  }
  .cookies-privacy > .row {
    margin-top: 2.5%;
  }
  .dismiss-cookies {
    margin-top: 1%;
  }
  .dismiss {
    margin-top: -21px;
  }
}
/*@media (min-width: 320px) and (max-width: 480px) {*/
  /*.cookies-privacy {*/
    /*background: #34495E;*/
    /*height: 85px;*/
    /*text-align: center;*/
    /*font-size: 17px;*/
    /*color: #fff;*/
    /*margin-bottom: 0;*/
    /*position: fixed;*/
    /*bottom: 0;*/
  /*}*/
  /*.cookies-privacy > .row {*/
    /*margin-top: 2.5%;*/
  /*}*/
  /*.dismiss-cookies {*/
    /*margin-top: 1%;*/
  /*}*/
/*}*/
