<div class="stepReview step_4">
  <form class="form_eParent" (ngSubmit)="onSubmit()">
    <div class="figReview">
      <img src="../../../../assets/images/smiley_success.png" alt="">
    </div>
    <h2>
      Thank you very much for your feedback
    </h2>
  </form>
</div>
<!-- Thank you screen for negative review -->
<div class="stepReview step_7">
  <form class="form_eParent" (ngSubmit)="onSubmit()">
    <div class="figReview">
      <img src="../../../../assets/images/smiley_success.png" alt="">
    </div>
    <h2>
      Thank you very much for your feedback. We take action on and appreciate all feedback
    </h2>
  </form>
</div>