<div class="stepReview step_4 active" *ngIf="review.recommendation">
  <div class="figReview">
    <img src="../../../../assets/images/smiley_success.png" alt="">
  </div>
  <h2>
    Thank you very much for your feedback
  </h2>
</div>
<!-- Thank you screen for negative review -->
<div class="stepReview step_7 active" *ngIf="!review.recommendation">
  <div class="figReview">
    <img src="../../../../assets/images/smiley_success.png" alt="">
  </div>
  <h2>
    Thank you very much for your feedback. We take action on and appreciate all feedback
  </h2>
</div>