<div class="mainBox reviewLinkMain">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <button type="button" class="addReview" (click)="onAddReviewLink()">
        <img src="../../../../assets/images/addIcon.png" alt="">
        Add Review Link
      </button>
    </div>
    <div class="mainBoxHeaderRight" *ngIf="!showNoRecordsFoundTemplate">
      <input type="text" placeholder="Search ..." (keyup.enter)="onSearch($event)" [(ngModel)]="searchKey">
      <button class="clearSearch" *ngIf="showClearSearch" (click)="clearSearch()" title="Clear search"></button>
    </div>
  </header>
  <div class="dataTableArea" *ngIf="!showNoRecordsFoundTemplate">
    <message *ngIf="!isModalOpened" [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
    <div class="table table-col-5 reviewLinkTab">
      <ul class="thead">
        <li>REVIEWS</li>
        <li>CAMPAIGN</li>
        <li>URL SLUG</li>
        <li>CREATED DATE</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [disableOnBreakpoints]="false" [compact]="true">
          <ul>
            <li class="row" *ngFor="let link of reviewLinks | paginate: config; let i = index"
              [ngClass]="{showMore: showMore && rowIndex === i}">
              <a class="rowMoreInfo" (click)="showMoreOptions(i)"><img
                  src="../../../../assets/images/down_double_arrow.png" alt="">
                {{ !showMore || rowIndex != i? "More" : "Less" }}
                Options</a>
              <div class="rowContainer">
                <div class="tcol">
                  <div class="userImg" [style.background-image]="'url('+ link.logo +')'">
                  </div>
                  <div class="userReview">
                    <h2>{{ link.name }}
                      <!-- <span class="greenTag">$1 a day</span> -->
                    </h2>
                    <p>
                      {{ link.description }}
                    </p>
                    <div class="reviewLinkinfo">
                      <div class="approve">
                        <p>Auto Approve:</p>

                        <div class="switcher switchInForm">
                          <label>
                            <input type="checkbox" class="tglBtn" [(ngModel)]="link.auto_approve"
                                   #autoApproveStatus="ngModel" (change)="onChangeAutoApproveStatus(link.id, autoApproveStatus, link.min_rating)">
                            <span></span>
                          </label>
                        </div>
                      </div>
                      <div class="minRating" *ngIf="link.auto_approve">
                        <p>Min. Rating: </p>
                        <div class="stars">
                          <bar-rating [(rate)]="link.min_rating" [max]="5" [theme]="'default'" [readOnly]="true">
                          </bar-rating>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="tcol">
                  <p>{{ link.campaign !== null ? link.campaign.campaign_name : 'No Campaign Selected' }}</p>
                  <!-- <br>Landing Page</p> -->
                </div>
                <div class="tcol">
                  <p>{{ link.url_slug }}</p>
                </div>
                <div class="tcol">
                  <p>{{ link.created_at | localDateTime }}</p>
                </div>
                <div class="tcol">
                  <a class="edit" (click)="onEditReviewLink(link)"><img src="../../../../assets/images/icon_edit.png" alt="Edit Review"></a>
                  <a class="previewRLink" [href]="prepareContext(link)" target="_blank"><img src="../../../../assets/images/eye_open.png" alt="Preview review link"> </a>
                  <a class="previewRLink" (copy)="onClickCopyLink()" [context]="prepareContext(link)" copyToClipboard><img src="../../../../assets/images/icon_copy_snippet.png" alt="Copy review link"> </a>
                  <a class="delete" (click)="onDeleteReviewLink(link.id)"><img src="../../../../assets/images/icon_delete_red.png" alt="Delete Review"></a>
                </div>
              </div>

              <div class="contentMsg active">
                <div class="colReviews negativeMsg">
                  <h5>Negative info message #1</h5>
                  <p>{{ link.negative_info_review_message_1 }}</p>
                </div>

                <div class="colReviews negativeMsg">
                  <h5>Negative info message #2</h5>
                  <p>{{ link.negative_info_review_message_2 }}</p>
                </div>

                <div class="colReviews positiveMsg">
                  <h5>Positive Review message</h5>
                  <p>{{ link.positive_review_message }}</p>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    </div>
    <!-- Pagination -->
    <pagination-controls *ngIf="reviewLinks.length > 0" [autoHide]="true" [responsive]="true"
      (pageChange)="pageChanged($event)"></pagination-controls>
  </div>

  <!-- no content template -->
  <div *ngIf="showNoRecordsFoundTemplate">
    <div class="no-content">
      <figure>
        <img src="../../../../assets/images/clipboards.png" alt="" />
      </figure>
      <div class="no-content-body">
        <h3>No review link yet</h3>
        <p>No review link been listed here yet.</p>
      </div>

      <div class="ftNone">
        <button class="button-submit" (click)="onAddReviewLink()">
          Add your first review link
        </button>
      </div>
    </div>
  </div>
  <!-- no content template -->


</div>
<!-- add/edit modal-->
<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal modalReview" [escapable]="false" [dismissable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>{{ isEditing ? 'Edit' : 'Add'}} Review Link</h2>
    </div>
    <div class="sr-modal-body">
        <message *ngIf="isModalOpened" [successMessage]="successMessage" [showMessage]="showError"></message>
        <form *ngIf="currentStep == 1" [formGroup]="form" (ngSubmit)="onSubmitStep1()"
          class="reviewLink_step_1 reviewStep">
          <div class="sr-form">
            <div class="sr-form-row">
              <div class="sr-form-cell-small">
                <label>Review Link Name</label>
                <div class="sr-form-field">
                  <input type="text" class="sr-form-ctrl" formControlName="name" (change)="slug"
                    [ngClass]="{'error' : isSubmittedStep1 && getFormControls.name.errors}">
                  <div class="error-msg" *ngIf="(
                    isSubmittedStep1
                    && getFormControls.name.errors !== null
                    && getFormControls.name.errors.required)">
                    Review name is required
                  </div>
                </div>
              </div>
              <div class="sr-form-cell-small" [ngClass]="{'url-slug': isValidSlug}">
                <label>URL Slug</label>
                <div class="sr-form-field">
                  <input class="sr-form-ctrl" formControlName="url_slug" (change)="onChangeSlug()"
                    [ngClass]="{'error' : getFormControls.url_slug.errors && (isSubmittedStep1 || getFormControls.url_slug.errors.isSlugExits)}">
                  <div class="error-msg" *ngIf="(
                    isSubmittedStep1
                    && getFormControls.url_slug.errors !== null
                    && getFormControls.url_slug.errors.required)">
                    Url slug is required
                  </div>
                  <div class="error-msg" *ngIf="(
                    getFormControls.url_slug.errors !== null
                    && getFormControls.url_slug.errors.isSlugExits)">
                    There is already an url slug exists with same name. Please try another.
                  </div>
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell-small">
                <div class="sr-form-field">
                  <label>Auto Approve <a href="javascript:void(0)" class="tooltip"
                      data-title="Check this to switch Auto-improve on!">
                      <img src="../../../../assets/images/icon_info2.png" alt=""></a>

                    <div class="switcher switchInForm">
                      <label>
                        <input type="checkbox" class="tglBtn" formControlName="auto_approve" (change)="onChangeAutoApprove()">
                        <span></span>
                      </label>
                    </div></label>
                </div>
              </div>
              <div class="sr-form-cell-small" *ngIf="showStarRating">
                <label>Define Min. Rating</label>
                <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" formControlName="min_rating"></bar-rating>
                <div class="error-msg" *ngIf="(
                  isSubmittedStep1
                  && getFormControls.min_rating.errors !== null
                  && getFormControls.min_rating.errors.required)">
                  Min. rating is required
                </div>
                <div class="error-msg" *ngIf="(
                  isSubmittedStep1
                  && getFormControls.min_rating.errors !== null
                  && getFormControls.min_rating.errors?.min)">
                  Min. rating is required
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell">
                <label>Select Campaign</label>
                <div class="sr-form-field">
                  <select class="sr-form-ctrl" formControlName="campaign_id" [compareWith]="compareValue"
                    [ngClass]="{error: isSubmittedStep1 && getFormControls.campaign_id.errors}">
                    <option value="">--- Select a campaign ---</option>
                    <option [ngValue]="campaign" *ngFor="let campaign of campaigns">{{ campaign.campaign_name }}</option>
                  </select>
                  <div class="error-msg" *ngIf="(
                    isSubmittedStep1
                    && getFormControls.campaign_id.errors !== null
                    && getFormControls.campaign_id.errors.required)">
                    Please select a campaign
                  </div>
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell">
                <label>Select Custom Domain</label>
                <div class="sr-form-field">
                  <select class="sr-form-ctrl" formControlName="custom_domain_id" [compareWith]="compareValue">
                    <option value="null">--- Select a custom domain ---</option>
                    <option [ngValue]="domain" *ngFor="let domain of customDomains">{{ domain.name }} ({{ domain.domain }})</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell imageUp">
                <label>Upload an image</label>
                <div class="sr-form-field">
                  <div class="sr-form-ctrl inputFile">
                    <input type="file" (change)="onChangeFile($event)" [ngClass]="{error: isSubmittedStep1 && getFormControls.logo.errors}">
                    <input type="hidden" formControlName="logo" [ngClass]="{error: isSubmittedStep1 && getFormControls.logo.errors}">
                    <div class="error-msg" *ngIf="(
                      isSubmittedStep1
                      && getFormControls.logo.errors !== null
                      && getFormControls.logo.errors.required)">
                      Logo is required
                    </div>
                    <div class="error-msg" *ngIf="(
                      isSubmittedStep1
                      && getFormControls.logo.errors !== null
                      && getFormControls.logo.errors.invalidFileType)">
                      Invalid file type. Allowed file types are jpg, jpeg, png, gif
                    </div>
                    <div class="error-msg" *ngIf="(
                      isSubmittedStep1
                      && getFormControls.logo.errors !== null
                      && getFormControls.logo.errors.invalidFileSize)">
                      Invalid image size. Image size should be maximum {{ allowedMaxImageFileSize }} {{ unit }}
                    </div>
                    <div class="choseFileArea">
                      <div class="fileImg">
                        <img src="../../../../assets/images/icon_upload_photo.png" alt="">
                      </div>
                      <p>
                        <span>{{choseFileCtrl}}</span>{{fileName}}
                      </p>
                    </div>
                    <div class="figureUpld" [style.background-image]="'url('+ imagePreviewUrl +')'"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell-small">
                <label>Enter Description</label>
                <div class="sr-form-field">
                  <textarea type="text" class="sr-form-ctrl" formControlName="description"
                    [ngClass]="{'error' : isSubmittedStep1 && getFormControls.description.errors}"></textarea>
                  <div class="error-msg" *ngIf="(
                    isSubmittedStep1
                    && getFormControls.description.errors !== null
                    && getFormControls.description.errors.required)">
                    Description is required
                  </div>
                </div>
              </div>
              <div class="sr-form-cell-small">
                <label>Positive Review Message</label>
                <div class="sr-form-field">
                  <textarea type="text" class="sr-form-ctrl" formControlName="positive_review_msg"
                    [ngClass]="{'error' : isSubmittedStep1 && getFormControls.positive_review_msg.errors}"></textarea>
                  <div class="error-msg" *ngIf="(
                      isSubmittedStep1
                      && getFormControls.positive_review_msg.errors !== null
                      && getFormControls.positive_review_msg.errors.required)">
                    Positive Review Message is required
                  </div>
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell-small">
                <label>Negative Info #1</label>
                <div class="sr-form-field">
                  <textarea type="text" class="sr-form-ctrl" formControlName="negative_info_review_msg_1"
                    [ngClass]="{'error' : isSubmittedStep1 && getFormControls.negative_info_review_msg_1.errors}"></textarea>
                  <div class="error-msg" *ngIf="(
                    isSubmittedStep1
                    && getFormControls.negative_info_review_msg_1.errors !== null
                    && getFormControls.negative_info_review_msg_1.errors.required)">
                    Negative Info #1 is required
                  </div>
                </div>
              </div>
              <div class="sr-form-cell-small">
                <label>Negative Info #2</label>
                <div class="sr-form-field">
                  <textarea type="text" class="sr-form-ctrl" formControlName="negative_info_review_msg_2"
                    [ngClass]="{'error' : isSubmittedStep1 && getFormControls.negative_info_review_msg_2.errors}"></textarea>
                  <div class="error-msg" *ngIf="(
                      isSubmittedStep1
                      && getFormControls.negative_info_review_msg_2.errors !== null
                      && getFormControls.negative_info_review_msg_2.errors.required)">
                    Negative Info #2 is required
                  </div>
                </div>
              </div>
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell ftReviewPop">
                <button type="submit" class="button-submit">Next Step <span>&gt;</span></button>
              </div>
            </div>
          </div>
        </form>

        <form *ngIf="currentStep == 2" [formGroup]="form2" (ngSubmit)="onSubmitStep2()"
          class="reviewLink_step_2 reviewStep">
          <div class="sr-form">
            <div class="reviewPreview" [style.background-color]="pageBackground">
              <div class="reviewlinkForm" [style.background-color]="modalBackground">
                <header class="reviewLHdr">
                  <div class="figureHeader" [style.background-image]="'url('+ imagePreviewUrl +')'"></div>
                  <div class="headerTxtRvw">
                    <h3 [style.color]="textColor">
                      {{ getFormControls.name.value }}
                    </h3>
                    <p [style.color]="textColor">
                      {{ getFormControls.description.value }}
                    </p>
                  </div>
                </header>
                <div class="bodyCreview">
                  <div class="stepReview step_1 active">
                    <div class="form_eParent">
                      <h2 [style.color]="textColor">
                        Would you recommend us?
                      </h2>

                      <div class="ftReview">
                        <button type="button" class="btnOutline btnApprove">
                          <span>
                            <img src="../../../../assets/images/icon_thumb_up_green.png" alt="">
                            <img class="hoverIco" src="../../../../assets/images/icon_thumb_up_green_w.png" alt="">
                          </span>
                          yes
                        </button>

                        <button type="button" class="btnOutline btnReject">
                          <span>
                            <img src="../../../../assets/images/icon_thumb_down_red.png" alt="">
                            <img class="hoverIco" src="../../../../assets/images/icon_thumb_down_red_w.png" alt="">
                          </span>
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="showpreview">
              <!-- <a href="javascript:void(0)">
                <span>
                  <img src="../../../../assets/images/icon_preview_blue.png" alt="">
                  <img class="prevwHvr" src="../../../../assets/images/icon_preview_grey.png" alt="">
                </span>
                Show preview
              </a> -->
            </div>
            <div class="sr-form-row">
              <div class="sr-form-cell-third">
                <label>Page Background</label>
                <div class="colorPicker">
                  <input [(colorPicker)]="pageBackground" [style.background]="pageBackground"
                    (colorPickerChange)="onChangePageBackgroundColor($event)"
                    [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', '#2027e9']"
                    [cpOutputFormat]="'hex'" class="colorChosen" formControlName="page_background" type="text"
                    class="colorChosen" />
                </div>
              </div>
              <div class="sr-form-cell-third">
                <label>Modal Background</label>
                <div class="colorPicker">
                  <input [(colorPicker)]="modalBackground" [style.background]="modalBackground"
                    (colorPickerChange)="onChangeModalBackgroundColor($event)"
                    [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', '#2027e9']"
                    [cpOutputFormat]="'hex'" class="colorChosen" formControlName="modal_background" type="text"
                    class="colorChosen" />
                </div>
              </div>
              <div class="sr-form-cell-third">
                <label>Text Colour</label>
                <div class="colorPicker">
                  <input [(colorPicker)]="textColor" [style.background]="textColor"
                    (colorPickerChange)="onChangeTextColor($event)"
                    [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', '#2027e9']"
                    [cpOutputFormat]="'hex'" class="colorChosen" formControlName="text_color" type="text"
                    class="colorChosen" />
                </div>
              </div>
            </div>

            <div class="copyDesg sr-form-row">
              <div class="sr-form-cell">
                <label>Copyright Text</label>
                <div class="sr-form-field">
                  <input type="text" class="sr-form-ctrl" formControlName="copyright_text">
                  <div class="error-msg">
                    Copyright text is required !
                  </div>
                </div>
              </div>
            </div>

            <div class="sr-form-row">
              <div class="sr-form-cell ftReviewPop">
                <button class="button-submit" type="button" (click)="onClickPreviousStep()">
                  <span>&lt;</span>
                  Previous Step
                </button>

                <button class="button-submit" type="submit">
                  <img src="../../../../assets/images/addIcon.png" alt="">Save Review Link
                </button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>


<!-- HTML for delete modal -->
<ngx-smart-modal #deleteModal identifier="deleteModal" class="sr-modal modalNotif" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form [formGroup]="form">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell btnStyles">
              <label>Are you sure you want to delete it?</label>
              <button class="stAccpt" type="button" (click)="deleteReviewLink(reviewLinkIdToDelete)">
                Yes
              </button>
              <button class="stReject" type="button" (click)="deleteModal.close()">
                No
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>

<!-- HTML for star rating modal -->
<ngx-smart-modal #starRatingModal identifier="starRatingModal" class="sr-modal modalNotif" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <button class="btn-starRating-close" type="button" [style.background-image]="'url(../../../../assets/images/icon_close_popup.png)'" (click)="closeStarRatingModal()">
    </button>
    <div class="sr-modal-header">
      <h2>
        Define Min. Rating
      </h2>
    </div>
    <div class="sr-modal-body">
      <form [formGroup]="starRatingForm" (ngSubmit)="saveStarRating()">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell btnStyles starRating">
              <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" formControlName="min_star_rating"></bar-rating>
              <div class="error-msg" *ngIf="showMinRatingError">
                Min. rating is required
              </div>
              <button class="stAccpt" type="submit"> Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
