<div class="mainBox">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <button type="button" class="addReview" (click)="onAddReviewLink()">
        <img src="../../../../assets/images/addIcon.png" alt="">
        {{ !isEditing ? 'Add' : 'Edit'}} Review Link
      </button>
    </div>
    <div class="mainBoxHeaderRight">
      <input type="text" placeholder="Search ...">
    </div>
  </header>
  <div class="dataTableArea">
    <message [successMessage]="successMessage"></message>
    <div class="table table-col-5 reviewLinkTab">
      <ul class="thead">
        <li>REVIEWS</li>
        <li>CAMPAIGN</li>
        <li>URL SLUG</li>
        <li>CREATED DATE</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [compact]="true" *ngIf="reviewLinks.length > 0; else noRecords">
          <ul>
            <li class="row" *ngFor="let link of reviewLinks; let i = index">
              <a class="rowMoreInfo"><img src="../../../../assets/images/down_double_arrow.png" alt=""> More
                Options</a>
              <div class="rowContainer">
                <div class="tcol">
                  <div class="userImg">
                    <img src="../../../../assets/images/User_profile_icon_small.png" alt="">
                  </div>
                  <div class="userReview">
                    <h2>{{ link.name }} 
                      <!-- <span class="greenTag">$1 a day</span> -->
                    </h2>
                    <p>
                      {{ link.description }}
                    </p>
                    <div class="reviewLinkinfo">
                      <div class="minRating">
                        <p>Min. Rating: </p>
                        <div class="stars">
                          <img src="../../../../assets/images/star_active.png" alt="">
                          <!-- <img src="../../../../assets/images/star_active.png" alt="">
                          <img src="../../../../assets/images/star_active.png" alt="">
                          <img src="../../../../assets/images/star_active.png" alt="">
                          <img src="../../../../assets/images/star_active.png" alt=""> -->
                        </div>
                      </div>
                      <div class="approve">
                        <p>Auto Approve:</p>
                        <input type="checkbox" class="tglBtn" [(ngModel)]="link.auto_approve"
                          #link.auto_approve="ngModel">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tcol">
                  <p>{{ link.campaign.campaign_name }}<br>Landing Page</p>
                </div>
                <div class="tcol">
                  <p>{{ link.url_slug }}</p>
                </div>
                <div class="tcol">
                  <p>{{ link.created_at | date:'medium' }}</p>
                </div>
                <div class="tcol">
                  <a class="edit" (click)="onEditReviewLink(link)"><img
                      src="../../../../assets/images/icon_edit.png" alt=""></a>
                  <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                </div>
              </div>

              <div class="contentMsg active">
                <div class="colReviews negativeMsg">
                  <h5>Negative info message #1</h5>
                  <p>We're sorry that you didn't like our offer, can you please provide your contact information so we
                    can reach out to you with a better offer.</p>
                </div>

                <div class="colReviews negativeMsg">
                  <h5>Negative info message #2</h5>
                  <p>Thanks for your feedback. Someone will be in touch with you shortly.</p>
                </div>

                <div class="colReviews positiveMsg">
                  <h5>Positive Review message</h5>
                  <p>Thank you so much for your feedback. Email us at <a href="mailto:hello@tier5.us">hello@tier5.us</a>
                    if there is anything we can help you with!</p>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>
        <ng-template #noRecords>
            <ul>
              <li class="row">
                <p class="no-records">Sorry no review links found !</p>
              </li>
            </ul>
          </ng-template>
      </div>
    </div>
  </div>
</div>
<!-- add/edit modal-->
<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal modalReview" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>Add Review Link</h2>
    </div>
    <div class="sr-modal-body">
      <form *ngIf="currentStep == 1" [formGroup]="form" (ngSubmit)="onSubmitStep1()" class="reviewLink_step_1 reviewStep">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Review Link Name</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" formControlName="name"
                  [ngClass]="{'error' : isSubmitted && getFormControls.name.errors}">
                <!-- <span class="error-msg">
                    Review name is required
                </span> -->
                <div class="error-msg" *ngIf="(
                  isSubmitted 
                  && getFormControls.name.errors !== null 
                  && getFormControls.name.errors.required)">
                  Review name is required
                </div>
              </div>
            </div>
            <div class="sr-form-cell-small url-slug">
              <label>URL Slug</label>
              <div class="sr-form-field">
                <input class="sr-form-ctrl" formControlName="url_slug"
                  [ngClass]="{'error' : isSubmitted && getFormControls.url_slug.errors}">
                  <div class="error-msg" *ngIf="(
                    isSubmitted 
                    && getFormControls.url_slug.errors !== null 
                    && getFormControls.url_slug.errors.required)">
                    Url slug is required
                  </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <div class="sr-form-field">
                <label>Auto Approve <a href="javascript:void(0)" class="tooltip">
                  <img src="../../../../assets/images/icon_info2.png" alt=""></a>
                  <input type="checkbox" class="tglBtn" formControlName="auto_approve"></label>
              </div>
            </div>
            <div class="sr-form-cell-small">
              <label>Select Campaign</label>
              <div class="sr-form-field">
                <select class="sr-form-ctrl" formControlName="campaign_id">
                </select>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Define Min. Rating</label>
              <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" formControlName="min_rating"></bar-rating>
            </div>
            <div class="sr-form-cell-small imageUp">
              <label>Upload an image</label>

              <div class="sr-form-field">
                <div class="sr-form-ctrl inputFile">
                  <input type="file" (change)="onChangeFile($event)" formControlName="logo">
                  <input type="hidden" formControlName="logo">
                  <div class="choseFileArea">
                    <div class="fileImg">
                      <img src="../../../../assets/images/icon_upload_photo.png" alt="">
                    </div>
                    <p>
                      <span>{{choseFileCtrl}}</span>{{fileName}}
                    </p>
                  </div>
                  <div class="figureUpld" [style.background-image]="'url('+ imagePreviewUrl +')'"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Enter Description</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" formControlName="description"
                  [ngClass]="{'error' : !form.get('description').valid && form.get('description').touched}">
                <span class="error-msg">
                  Required!
                </span>
              </div>
            </div>
            <div class="sr-form-cell-small">
              <label>Positive Review Message</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" formControlName="positive_review_msg"
                  [ngClass]="{'error' : !form.get('positive_review_msg').valid && form.get('positive_review_msg').touched}">
                <span class="error-msg">
                  Required!
                </span>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Negative Info #1</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" formControlName="negative_info_review_msg_1"
                  [ngClass]="{'error' : !form.get('negative_info_review_msg_1').valid && form.get('negative_info_review_msg_1').touched}">
                <span class="error-msg">
                  Required!
                </span>
              </div>
            </div>
            <div class="sr-form-cell-small">
              <label>Negative Info #2</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" formControlName="negative_info_review_msg_2"
                  [ngClass]="{'error' : !form.get('negative_info_review_msg_2').valid && form.get('negative_info_review_msg_2').touched}">
                <span class="error-msg">
                  Required!
                </span>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell ftReviewPop">
              <!-- <button class="button-submit" type="" [disabled]="!this.form.valid">
                <img src="../../../../assets/images/addIcon.png" alt="">
                {{form.get('id').value ? "Update" : "Save" }} Review Link
              </button> -->

              <button type="submit" class="button-submit">Next Step <span>&gt;</span>
              </button>
            </div>
          </div>
        </div>
      </form>

      <form *ngIf="currentStep == 2" [formGroup]="form2" (ngSubmit)="onSubmit()" class="reviewLink_step_2 reviewStep">
        <div class="sr-form">
          <div class="reviewPreview" style="background-color: #B8CBEB;">
            <div class="reviewlinkForm">
              <header class="reviewLHdr">
                <div class="figureHeader" style="background-image: url(../../../../assets/images/dp.jpeg);"></div>
                <div class="headerTxtRvw">
                  <h3 style="color: #268BFF;">
                    FHL-PROMO
                  </h3>
          
                  <p style="color: #268BFF;">
                    What did you think about the special Funnel Hacking Live Offer?
                  </p>
                </div>
              </header>
              <div class="bodyCreview">
                <div class="stepReview step_1 active">
                  <div class="form_eParent" (ngSubmit)="onSubmit()">
                    <h2 style="color: #268BFF;">
                      Would you recommend us?
                    </h2>
          
                    <div class="ftReview">
                      <button type="submit" class="btnOutline btnApprove">
                        <span>
                          <img src="../../../../assets/images/icon_thumb_up_green.png" alt="">
                          <img class="hoverIco" src="../../../../assets/images/icon_thumb_up_green_w.png" alt="">
                        </span>
                        yes
                      </button>
          
                      <button type="submit" class="btnOutline btnReject">
                        <span>
                          <img src="../../../../assets/images/icon_thumb_down_red.png" alt="">
                          <img class="hoverIco" src="../../../../assets/images/icon_thumb_down_red_w.png" alt="">
                        </span>
                        No
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="showpreview">
            <a href="javascript:void(0)">
              <span>
                <img src="../../../../assets/images/icon_preview_blue.png" alt="">
                <img class="prevwHvr" src="../../../../assets/images/icon_preview_grey.png" alt="">
              </span>
              Show preview
            </a>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-third">
              <label>Page Background</label>
              <div class="colorPicker">
                <input type="text" class="colorChosen" style="background-color: #B8CBEB;" readonly >
              </div>
            </div>
            <div class="sr-form-cell-third">
              <label>Modal Background</label>
              <div class="colorPicker">
                <input type="text" class="colorChosen" style="background-color: #ffffff;" readonly >
              </div>
            </div>
            <div class="sr-form-cell-third">
              <label>Text Colour</label>
              <div class="colorPicker">
                <input type="text" class="colorChosen" style="background-color: #268BFF;" readonly >
              </div>
            </div>
          </div>

          <div class="copyDesg sr-form-row">
            <div class="sr-form-cell">
              <label>Copyright Text</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl">
                <span class="error-msg">
                  Required!
                </span>
              </div>
            </div>
          </div>

          <div class="sr-form-row">
            <div class="sr-form-cell ftReviewPop">
              <button class="button-submit">
                <span>&lt;</span>
                Previous Step
              </button>
              
              <button class="button-submit" type="submit">
                <img src="../../../../assets/images/addIcon.png" alt="">Save Review Link
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>
