<div class="mainBox">
  <header class="mainBoxHeader">
    <div class="mainBoxHeaderLeft">
      <button type="button" class="addReview" (click)="openModelWithAddOrEdit('add', null)">
        <img src="../../../../assets/images/addIcon.png" alt="">
        Add Review Link
      </button>
    </div>
    <div class="mainBoxHeaderRight">
      <input type="text" placeholder="Search ...">
    </div>
  </header>
  <div class="dataTableArea">
    <div class="table table-col-5 reviewLinkTab">
      <ul class="thead">
        <li>REVIEWS</li>
        <li>CAMPAIGN</li>
        <li>URL SLUG</li>
        <li>CREATED DATE</li>
        <li>ACTION(S)</li>
      </ul>
      <div class="tbody">
        <ng-scrollbar [compact]="true">
          <ul>
            <li class="row" *ngFor="let review of reviewLinks; let i = index">
              <a class="rowMoreInfo"><img src="../../../../assets/images/down_double_arrow.png" alt=""> More
                Options</a>
              <div class="rowContainer">
                <div class="tcol">
                  <div class="userImg">
                    <img src="../../../../assets/images/User_profile_icon_small.png" alt="">
                  </div>
                  <div class="userReview">
                    <h2>{{review.name}} <span class="greenTag">$1 a day</span></h2>
                    <p>
                      {{review.description}}
                    </p>
                    <div class="reviewLinkinfo">
                      <div class="minRating">
                        <p>Min. Rating: </p>
                        <div class="stars">
                          <img src="../../../../assets/images/star_active.png" alt="">
                          <!-- <img src="../../../../assets/images/star_active.png" alt="">
                          <img src="../../../../assets/images/star_active.png" alt="">
                          <img src="../../../../assets/images/star_active.png" alt="">
                          <img src="../../../../assets/images/star_active.png" alt=""> -->
                        </div>
                      </div>
                      <div class="approve">
                        <p>Auto Approve:</p>
                        <input type="checkbox" class="tglBtn" [(ngModel)]="review.auto_approve" #review.auto_approve="ngModel" readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tcol">
                  <p>{{ review.campaign.campaign_name }}<br>Landing Page</p>
                </div>
                <div class="tcol">
                  <p>{{review.url_slug}}</p>
                </div>
                <div class="tcol">
                  <p>{{review.created_at | date:'medium'}}</p>
                </div>
                <div class="tcol">
                  <a class="edit" (click)="openModelWithAddOrEdit('edit', review)"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                  <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                </div>
              </div>
            </li>
          </ul>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal modalReview">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        {{reviewLinkForm.get('id').value ? "Edit" : "Add" }} Review Link
      </h2>
    </div>
    <div class="sr-modal-body">

      <form [formGroup]="reviewLinkForm" (ngSubmit)="onSubmit()">

        <input type="text" hidden formControlName="id">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Review Link Name</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" 
                  formControlName="name"
                  [ngClass]="{'error' : !reviewLinkForm.get('name').valid && reviewLinkForm.get('name').touched}" >
                <span class="error-msg" >
                  Required!
                </span>
              </div>
            </div>
            <div class="sr-form-cell-small url-slug">
              <label>URL Slug</label>
              <div class="sr-form-field">
                <input class="sr-form-ctrl"
                  formControlName="url_slug" 
                  [ngClass]="{'error' : !reviewLinkForm.get('url_slug').valid && reviewLinkForm.get('url_slug').touched}">
                  <span class="error-msg" >
                    Required!
                  </span>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <div class="sr-form-field">
                <label>Auto Approve <a href="javascript:void(0)" class="tooltip">
                  <img src="../../../../assets/images/icon_info2.png" alt=""></a> 
                <input type="checkbox" class="tglBtn" formControlName="auto_approve"></label>
              </div>
            </div>
            <div class="sr-form-cell-small">
              <label>Select Campaign</label>
              <div class="sr-form-field">
                <select class="sr-form-ctrl" formControlName="campaign_id">
                </select>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Define Min. Rating</label>

              <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" formControlName="min_rating"></bar-rating>
            </div>
            <div class="sr-form-cell-small imageUp">
              <label>Upload an image</label>

              <div class="sr-form-field">
                <div class="sr-form-ctrl inputFile">
                  <input type="file" (change)="uploadFile($event)">
                  <div class="choseFileArea">
                    <div class="fileImg">
                      <img src="../../../../assets/images/icon_upload_photo.png" alt="">
                    </div>
                    <p>
                      <span>{{choseFileCtrl}}</span>{{fileName}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Enter Description</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl"
                   formControlName="description"
                   [ngClass]="{'error' : !reviewLinkForm.get('description').valid && reviewLinkForm.get('description').touched}">
                  <span class="error-msg" >
                    Required!
                  </span>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Positive Review Message</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl"
                 formControlName="positive_review_msg" 
                 [ngClass]="{'error' : !reviewLinkForm.get('positive_review_msg').valid && reviewLinkForm.get('positive_review_msg').touched}">
                <span class="error-msg" >
                  Required!
                </span>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Negative Info #1</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" 
                 formControlName="negative_info_review_msg_1" 
                 [ngClass]="{'error' : !reviewLinkForm.get('negative_info_review_msg_1').valid && reviewLinkForm.get('negative_info_review_msg_1').touched}">
                <span class="error-msg" >
                  Required!
                </span>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Negative Info #2</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" 
                formControlName="negative_info_review_msg_2" 
                [ngClass]="{'error' : !reviewLinkForm.get('negative_info_review_msg_2').valid && reviewLinkForm.get('negative_info_review_msg_2').touched}">
                <span class="error-msg" >
                  Required!
                </span>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <button class="button-submit" type="" [disabled]="!this.reviewLinkForm.valid">
                <img src="../../../../assets/images/addIcon.png" alt=""> {{reviewLinkForm.get('id').value ? "Update" : "Save" }} Review Link
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>
