<div class="container">
  <app-left-panel></app-left-panel>

  <div class="rightPanel">
    <app-header></app-header>

    <div class="mainBox">
      <header class="mainBoxHeader">
        <div class="mainBoxHeaderLeft">
          <button type="button" class="addReview" (click)="ngxSmartModalService.getModal('modal1').open()">
            <img src="../../../../assets/images/addIcon.png" alt="">
            Add Review Link
          </button>
        </div>
        <div class="mainBoxHeaderRight">
          <input type="text" placeholder="Search ...">
        </div>
      </header>
      <div class="dataTableArea">
        <div class="table table-col-5 reviewLinkTab">
          <ul class="thead">
            <li>REVIEWS</li>
            <li>CAMPAIGN</li>
            <li>URL SLUG</li>
            <li>CREATED DATE</li>
            <li>ACTION(S)</li>
          </ul>
          <div class="tbody">
            <ng-scrollbar [compact]="true">
              <ul>
                <li class="row">
                  <a class="rowMoreInfo"><img src="../../../../assets/images/down_double_arrow.png" alt=""> More
                    Options</a>
                  <div class="rowContainer">
                    <div class="tcol">
                      <div class="userImg">
                        <img src="../../../../assets/images/User_profile_icon_small.png" alt="">
                      </div>
                      <div class="userReview">
                        <h2>Just awesome <span class="greenTag">$1 a day</span></h2>
                        <p>
                          I really can't express how big of the value this is. Wow.
                          That's all I can say. WOW
                        </p>
                        <div class="reviewLinkinfo">
                          <div class="minRating">
                            <p>Min. Rating: </p>
                            <div class="stars">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                            </div>
                          </div>
                          <div class="approve">
                            <p>Auto Approve:</p>
                            <input type="checkbox" class="tglBtn">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tcol">
                      <p>Sticky Reviews<br>Landing Page</p>
                    </div>
                    <div class="tcol">
                      <p>rate-our-service</p>
                    </div>
                    <div class="tcol">
                      <p>Dec 3, 2018, 5:39:18 PM</p>
                    </div>
                    <div class="tcol">
                      <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                      <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <a class="rowMoreInfo"><img src="../../../../assets/images/down_double_arrow.png" alt=""> More
                    Options</a>
                  <div class="rowContainer">
                    <div class="tcol">
                      <div class="userImg">
                        <img src="../../../../assets/images/User_profile_icon_small.png" alt="">
                      </div>
                      <div class="userReview">
                        <h2>Just awesome <span class="greenTag">$1 a day</span></h2>
                        <p>
                          I really can't express how big of the value this is. Wow.
                          That's all I can say. WOW
                        </p>
                        <div class="reviewLinkinfo">
                          <div class="minRating">
                            <p>Min. Rating: </p>
                            <div class="stars">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                            </div>
                          </div>
                          <div class="approve">
                            <p>Auto Approve:</p>
                            <input type="checkbox" class="tglBtn">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tcol">
                      <p>Sticky Reviews<br>Landing Page</p>
                    </div>
                    <div class="tcol">
                      <p>rate-our-service</p>
                    </div>
                    <div class="tcol">
                      <p>Dec 3, 2018, 5:39:18 PM</p>
                    </div>
                    <div class="tcol">
                      <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                      <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <a class="rowMoreInfo"><img src="../../../../assets/images/down_double_arrow.png" alt=""> More
                    Options</a>
                  <div class="rowContainer">
                    <div class="tcol">
                      <div class="userImg">
                        <img src="../../../../assets/images/User_profile_icon_small.png" alt="">
                      </div>
                      <div class="userReview">
                        <h2>Just awesome <span class="greenTag">$1 a day</span></h2>
                        <p>
                          I really can't express how big of the value this is. Wow.
                          That's all I can say. WOW
                        </p>
                        <div class="reviewLinkinfo">
                          <div class="minRating">
                            <p>Min. Rating: </p>
                            <div class="stars">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                            </div>
                          </div>
                          <div class="approve">
                            <p>Auto Approve:</p>
                            <input type="checkbox" class="tglBtn">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tcol">
                      <p>Sticky Reviews<br>Landing Page</p>
                    </div>
                    <div class="tcol">
                      <p>rate-our-service</p>
                    </div>
                    <div class="tcol">
                      <p>Dec 3, 2018, 5:39:18 PM</p>
                    </div>
                    <div class="tcol">
                      <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                      <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <a class="rowMoreInfo"><img src="../../../../assets/images/down_double_arrow.png" alt=""> More
                    Options</a>
                  <div class="rowContainer">
                    <div class="tcol">
                      <div class="userImg">
                        <img src="../../../../assets/images/User_profile_icon_small.png" alt="">
                      </div>
                      <div class="userReview">
                        <h2>Just awesome <span class="greenTag">$1 a day</span></h2>
                        <p>
                          I really can't express how big of the value this is. Wow.
                          That's all I can say. WOW
                        </p>
                        <div class="reviewLinkinfo">
                          <div class="minRating">
                            <p>Min. Rating: </p>
                            <div class="stars">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                            </div>
                          </div>
                          <div class="approve">
                            <p>Auto Approve:</p>
                            <input type="checkbox" class="tglBtn">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tcol">
                      <p>Sticky Reviews<br>Landing Page</p>
                    </div>
                    <div class="tcol">
                      <p>rate-our-service</p>
                    </div>
                    <div class="tcol">
                      <p>Dec 3, 2018, 5:39:18 PM</p>
                    </div>
                    <div class="tcol">
                      <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                      <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                    </div>
                  </div>
                </li>
                <li class="row">
                  <a class="rowMoreInfo"><img src="../../../../assets/images/down_double_arrow.png" alt=""> More
                    Options</a>
                  <div class="rowContainer">
                    <div class="tcol">
                      <div class="userImg">
                        <img src="../../../../assets/images/User_profile_icon_small.png" alt="">
                      </div>
                      <div class="userReview">
                        <h2>Just awesome <span class="greenTag">$1 a day</span></h2>
                        <p>
                          I really can't express how big of the value this is. Wow.
                          That's all I can say. WOW
                        </p>
                        <div class="reviewLinkinfo">
                          <div class="minRating">
                            <p>Min. Rating: </p>
                            <div class="stars">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                              <img src="../../../../assets/images/star_active.png" alt="">
                            </div>
                          </div>
                          <div class="approve">
                            <p>Auto Approve:</p>
                            <input type="checkbox" class="tglBtn">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tcol">
                      <p>Sticky Reviews<br>Landing Page</p>
                    </div>
                    <div class="tcol">
                      <p>rate-our-service</p>
                    </div>
                    <div class="tcol">
                      <p>Dec 3, 2018, 5:39:18 PM</p>
                    </div>
                    <div class="tcol">
                      <a href="" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                      <a href="" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                    </div>
                  </div>
                </li>
              </ul>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal modalReview">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Add Review Link
      </h2>
    </div>
    <div class="sr-modal-body">

      <form>
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Review Link Name</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl">
              </div>
            </div>
            <div class="sr-form-cell-small url-slug">
              <label>URL Slug</label>
              <div class="sr-form-field">
                <input class="sr-form-ctrl" value="give-us-your-feedback">
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <div class="sr-form-field">
                <label>Auto Approve <a href="javascript:void(0)" class="tooltip">
                  <img src="../../../../assets/images/icon_info2.png" alt=""></a> 
                <input type="checkbox" class="tglBtn"></label>
              </div>
            </div>
            <div class="sr-form-cell-small">
              <label>Select Campaign</label>
              <div class="sr-form-field">
                <select class="sr-form-ctrl">
                </select>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell-small">
              <label>Define Min. Rating</label>

              <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'"></bar-rating>
            </div>
            <div class="sr-form-cell-small imageUp">
              <label>Upload an image</label>

              <div class="sr-form-ctrl inputFile">
                <input type="file" (change)="uploadFile($event)">
                <div class="choseFileArea">
                  <div class="fileImg">
                    <!-- <img src="../../../../assets/images/icon_upload_photo.png" alt=""> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Enter Description</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl"
                  [ngClass]="{error: isSubmitted && getFormControls.brandUrl.errors}">
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Positive Review Message</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl"
                  [ngClass]="{error: isSubmitted && getFormControls.brandUrl.errors}">
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Negative Info #1</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl"
                  [ngClass]="{error: isSubmitted && getFormControls.brandUrl.errors}">
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Negative Info #2</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl">
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <button class="button-submit" type="">
                <img src="../../../../assets/images/addIcon.png" alt=""> Save Review Link
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>
