.sr-modal {
	.sr-modal-container {
		.sr-modal-body {
			.sr-form {
				.sr-form-row {
					.sr-form-cell-small {
						label {
							i {
								float:right;
								color:#47e3bd;
								cursor:pointer;
							}
						}
						label.upload_btns {
							float:left;
							height:40px;
						}
						strong.left_btns {
							float:left;
						}
					}
					.br.br-default {
						margin:8px 0!important;
					}
					.sr-form-cell {
						.sr-form-field {
							.sr-form-ctrl.description_textarea {
								min-height:125px;
							}
						}
					}
				}
			}
		}
	}
}


.stickyMain {
	.dataTableArea {
		.table.table-col-4 {
			.tbody {
				li {
					&.row {
						.rowContainer {
							.tcol:first-child {
								@media (max-width: 991px) {
							    	flex: 0 0 48%;
								}
								@media (max-width: 420px) {
									flex: 0 0 100%;
									margin-bottom:10px;
								}								
							}
							.tcol:nth-child(2){
								@media (max-width: 420px) {
									order:0;
									margin-top:5px;
									margin-bottom:8px;
								}	
							}
							.tcol:nth-child(3) {
								p {
									@media (max-width: 420px) {
										padding-top:5px;
									}
								}

								@media (max-width: 991px) {
							    	width:33.5%!important;
								}
								@media (max-width: 420px) {
									width:76%!important;
								}	
							}
							.tcol:last-child a {
								@media (max-width: 991px) {
							    	margin-top:0;
							    	width:24px;
							    	height:24px;
								}
							}
							.tcol:last-child {
								@media (max-width: 991px) {
									flex: 0 0 17%;
								}
								@media (max-width: 420px) {
									flex: 0 0 22%;
								}
							}
							.tcol {
								.userReview {
									@media (max-width: 480px) {
										width: calc(100% - 20px)!important;
									}
								}
							}
						}
					}
				}
			}
		}
	}

}
.br-default {
	.br-unit.br-active {
		@media (max-width: 575px) {
			width:18px;
			height:18px;
			background-size:cover!important;
		}
	}	
	.br-unit.br-selected {
		@media (max-width: 575px) {
			width:18px;
			height:18px;
			background-size:cover!important;
		}
	}
	.br-unit {
		@media (max-width: 575px) {
			width:18px!important;
			height:18px!important;
			background-size:cover!important;
		}
	}
}
