<div class="reviewLinkBody">
    <div class="reviewlinkForm reviewLinkCtrl">
        <!-- Header -->
        <header class="reviewLHdr">
            <message *ngIf="showMessage" [successMessage]="message"> </message>
            <p>Review</p>
        </header>
        <!-- Different screens -->
        <div class="bodyCreview">
            <div class="showStyleP">
                <!-- Show sticky review based on the style -->
                <app-rounded *ngIf="this.reviewStyle == '1'" [reviewData]="reviewData"> </app-rounded>
                <app-square  *ngIf="this.reviewStyle == '2'" [reviewData]="reviewData"> </app-square>
                <app-tear-drop *ngIf="this.reviewStyle == '3'" [reviewData]="reviewData"></app-tear-drop>
                <app-square-elevated *ngIf="this.reviewStyle == '4'" [reviewData]="reviewData"></app-square-elevated>
                <app-tear-drop-elevated *ngIf="this.reviewStyle == '5'" [reviewData]="reviewData"></app-tear-drop-elevated>
            </div>
            <!-- Accept/Reject button -->
            <div class="btnStyles" *ngIf="reviewStatus === null && showMe">
                <button class="stAccpt" (click)="openConfirmModal(1)"> Accept</button> &nbsp; &nbsp;
                <button class="stReject" (click)="openConfirmModal(2)"> Reject</button>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footerCopy">
        <p>  </p>
    </footer>
</div>



<!-- HTML for delete modal -->
<ngx-smart-modal #confirmModal identifier="confirmModal" class="sr-modal modalNotif" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form>
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell btnStyles">
              <label>{{setModalText}}</label>
              <button class="stAccpt" type="button" (click)="userAction(typeOfUserAction)">
                Yes
              </button>
              <button class="stReject" type="button" (click)="confirmModal.close()">
                No
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
