<div class="reviewLinkBody">
    <header class="reviewLHdr">
      <div class="figureHeader">
        <img src="../../../../assets/images/" alt="">
      </div>
      <div class="headerTxtRvw">
        <h3>
          FHL-PROMO
        </h3>
  
        <p>
          What did you think about the special Funnel Hacking Live Offer?
        </p>
      </div>
    </header>
  
    <div class="bodyCreview">
        <div class="stepReview step_1"> 
            <form>
              <h2>
                Would you recommend us?
              </h2>
  
              <div class="ftReview">
                  <button type="submit" class="btnOutline btnApprove">
                    yes
                  </button>
  
                  <button type="submit" class="btnOutline btnApprove">
                    No
                  </button>
              </div>
            </form>
        </div>
  
        <div class="stepReview step_2">        
          <form>
            <div class="formRow">
              <label>
                  Review Title
              </label>
              <div class="inRowRvw">
                <input type="text" placeholder="Title for your review" />
              </div>
            </div>
  
            <div class="formRow">
              <label>
                  Select Review Type
              </label>
              <div class="inRowRvw">
                <div class="reviewRadio">
                  <input type="radio" name="radioRevwType" />
                  <span>Video</span>
                </div>
  
                <div class="reviewRadio">
                  <input type="radio" name="radioRevwType" />
                  <span>Audio</span>
                </div>
  
                <div class="reviewRadio">
                  <input type="radio" name="radioRevwType" />
                  <span>Textual</span>
                </div>
              </div>
            </div>
  
            <div class="formRow">
              <div class="reviewUp reviewVideo">
                <div class="inRowRvw">
                  <div class="rvwVidOpt">
                    <label class="revUp">
                      <input type="radio" name="vidType">
                      <span>
                          Upload Video
                      </span>
                    </label>
                    <label class="revRec">
                      <input type="radio" name="vidType">
                      <span>
                          Record Video
                      </span>
                    </label>
                  </div>
                  <div class="reviewVidSh">
                    <div class="vidUpV vidUp">
                      
                    </div>
    
                    <div class="vidUpV vidRec">
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="reviewUp reviewAudio">
                <div class="inRowRvw">
                  <textarea placeholder="Title for your review"></textarea>
                </div>
              </div>
              <div class="reviewUp reviewTxt">
                <label>
                    Review Description
                </label>
                <div class="inRowRvw">
                  <textarea placeholder="Title for your review"></textarea>
                </div>
              </div>
            </div>
  
            <div class="ftReview">
                <button type="submit" class="btnOutline btnApprove">
                  Save
                </button>
            </div>
          </form>
        </div>
  
        <div class="stepReview step_3"> 
            <form>
              <h2>
                  Can we use your review in our website?
              </h2>
  
              <div class="ftReview">
                  <button type="submit" class="btnOutline btnApprove">
                    yes
                  </button>
  
                  <button type="submit" class="btnOutline btnApprove">
                    No
                  </button>
  
                  <button type="submit" class="btnOutline btnSkip">
                    Skip
                  </button>
              </div>
            </form>
        </div>
  
        <div class="stepReview step_4"> 
            <form>
              <div class="figReview">
                <img src="../../../../assets/images/" alt="">
              </div>
              <h2>
                  Thank you verymuch for your feedback
              </h2>
            </form>
        </div>
  
        <div class="stepReview step_5"> 
            <form>
              <h2>
                  Upload a profile picture
              </h2>
  
              <div class="addpicture">
                <input type="file" />
                <span>Browse from your <em>Computer</em> or Drag-and-drop here</span>
              </div>
  
              <div class="ftReview">
                  <button type="submit" class="btnOutline btnApprove">
                    Save
                  </button>
              </div>
            </form>
        </div>
    </div>
  
    <footer class="footerCopy">
      <p>&copy; 2019 All rights reserved. Logistics LLC</p>
    </footer>
  </div>