<div class="reviewLinkBody">
  <div class="reviewlinkForm">
    <header class="reviewLHdr">
      <div class="figureHeader" style="background-image: url(../../../../assets/images/dp.jpeg);"></div>
      <div class="headerTxtRvw">
        <h3>
          FHL-PROMO
        </h3>

        <p>
          What did you think about the special Funnel Hacking Live Offer?
        </p>
      </div>
    </header>

    <div class="bodyCreview">
      <div class="stepReview step_1">
        <form class="form_eParent" (ngSubmit)="onSubmit()">
          <h2>
            Would you recommend us?
          </h2>

          <div class="ftReview">
            <button type="submit" class="btnOutline btnApprove">
              <span>
                <img src="../../../../assets/images/icon_thumb_up_green.png" alt="">
                <img class="hoverIco" src="../../../../assets/images/icon_thumb_up_green_w.png" alt="">
              </span>
              yes
            </button>

            <button type="submit" class="btnOutline btnReject">
              <span>
                <img src="../../../../assets/images/icon_thumb_down_red.png" alt="">
                <img class="hoverIco" src="../../../../assets/images/icon_thumb_down_red_w.png" alt="">
              </span>
              No
            </button>
          </div>
        </form>
      </div>

      <div class="stepReview step_2 active">
        <form class="form_eParent" (ngSubmit)="onSubmit()">
          <div class="formRow">
            <label>
              Review Title
            </label>
            <div class="inRowRvw sr-form-field">
              <input class="sr-form-ctrl" type="text" placeholder="Title for your review" />
              <div _ngcontent-c4="" class="error-msg"></div>
            </div>
          </div>

          <div class="formRow">
            <label>
              Select Review Type
            </label>
            <div class="inRowRvw">
              <label class="reviewRadio">
                <input type="radio" name="radioRevwType" />
                <span>Video</span>
              </label>

              <label class="reviewRadio">
                <input type="radio" name="radioRevwType" />
                <span>Audio</span>
              </label>

              <label class="reviewRadio">
                <input type="radio" name="radioRevwType" checked />
                <span>Textual</span>
              </label>
            </div>

            <div class="choiceState">
              <div class="reviewUp reviewVideo">
                <div class="inRowRvw">
                  <div class="rvwVidOpt">
                    <label class="revUp">
                      <input type="radio" name="vidType">
                      <span>
                        Upload Video
                      </span>
                    </label>
                    <label class="revRec">
                      <input type="radio" name="vidType" checked>
                      <span>
                        Record Video
                      </span>
                    </label>
                  </div>
                  <div class="reviewVidSh">
                    <div class="vidUpV vidUp">
                      <img src="../../../../assets/images/vid.jpg" alt="">
                    </div>

                    <div class="vidUpV vidRec active">
                      <img src="../../../../assets/images/vid.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="reviewUp reviewAudio ">
                <div class="inRowRvw">
                  <div class="rvwVidOpt">
                    <label class="revUp">
                      <input type="radio" name="vidType">
                      <span>
                        Upload Audio
                      </span>
                    </label>
                    <label class="revRec">
                      <input type="radio" name="vidType" checked>
                      <span>
                        Record Audio
                      </span>
                    </label>
                  </div>
                  <div class="reviewVidSh">

                  </div>
                </div>
              </div>
              <div class="reviewUp reviewTxt active">
                <label>
                  Review Description
                </label>
                <div class="inRowRvw sr-form-field">
                  <textarea class="sr-form-ctrl" placeholder="Title for your review"></textarea>

                  <div class="ratingRvTxt">
                    <img src="../../../../assets/images/star_active.png" alt="">
                    <img src="../../../../assets/images/star_active.png" alt="">
                    <img src="../../../../assets/images/star_active.png" alt="">
                    <img src="../../../../assets/images/star_active.png" alt="">
                    <img src="../../../../assets/images/star_inactive.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ftReview">
            <button type="submit" class="btnOutline btnApprove">
              Save
            </button>
          </div>
        </form>
      </div>

      <div class="stepReview step_3">
        <form class="form_eParent" (ngSubmit)="onSubmit()">
          <h2>
            Can we use your review in our website?
          </h2>

          <div class="ftReview">
            <button type="submit" class="btnOutline btnApprove">
              yes
            </button>

            <button type="submit" class="btnOutline btnReject">
              No
            </button>

            <button type="submit" class="btnOutline btnSkip">
              Skip
            </button>
          </div>
        </form>
      </div>

      <div class="stepReview step_4">
        <form class="form_eParent" (ngSubmit)="onSubmit()">
          <div class="figReview">
            <img src="../../../../assets/images/smiley_success.png" alt="">
          </div>
          <h2>
            Thank you very much for your feedback
          </h2>
        </form>
      </div>

      <div class="stepReview step_5">
        <form class="form_eParent" (ngSubmit)="onSubmit()">
          <h2>
            Upload a profile picture
          </h2>

          <div class="addpicture">
            <input type="file" />
            <span>Browse from your <em>Computer</em> or Drag-and-drop here</span>
          </div>

          <div class="ftReview">
            <button type="submit" class="btnOutline btnApprove">
              Save
            </button>
          </div>
        </form>
      </div>

      <div class="stepReview step_6 ">
        <form class="form_eParent" (ngSubmit)="onSubmit()">
          <div class="formRow">
            <label>Your Email</label>
            <div class="inRowRvw sr-form-field">
              <input class="sr-form-ctrl" type="email" placeholder="Enter your email" />
              <div _ngcontent-c4="" class="error-msg"></div>
            </div>
          </div>
          <div class="formRow">
            <label>Phone No (Optional)</label>
            <div class="inRowRvw sr-form-field">
              <input class="sr-form-ctrl" type="tel" placeholder="Enter your phone no" />
              <div _ngcontent-c4="" class="error-msg"></div>
            </div>
          </div>

          <div class="ftReview">
            <button type="submit" class="btnOutline btnApprove">
              Save
            </button>
          </div>
        </form>
      </div>

      <div class="stepReview step_7">
        <form class="form_eParent" (ngSubmit)="onSubmit()">
          <div class="figReview">
            <img src="../../../../assets/images/smiley_success.png" alt="">
          </div>
          <h2>
            Thank you very much for your feedback. We take action on and appreciate all feedback
          </h2>
        </form>
      </div>
    </div>
  </div>

  <footer class="footerCopy">
    <p>&copy; 2019 All rights reserved. Logistics LLC</p>
  </footer>
</div>

<!-- <div class="popupParent">
  <div class="popupTxt popup_template_1" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_2" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_3" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_4" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_5" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure style="background-image:url(../../../assets/images/dp.jpeg);"></figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_1">
  <div class="popupTxt popup_template_1" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_2">
  <div class="popupTxt popup_template_2" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_3">
  <div class="popupTxt popup_template_3" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_4">
  <div class="popupTxt popup_template_4" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_5">
  <div class="popupTxt popup_template_5" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure style="background-image:url(../../../assets/images/dp.jpeg);"></figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_1">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_1" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_2">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_2" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_3">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_3">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_4">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_4">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_5" style="margin-left: 30px;">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_5">
    <div class="figPopup">
      <figure style="background-image:url(../../../assets/images/dp.jpeg);"></figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div> -->