<div class="stepReview step_1">
  <form class="form_eParent" (ngSubmit)="onSubmit()">
    <h2>
      Would you recommend us?
    </h2>

    <div class="ftReview">
      <button type="submit" class="btnOutline btnApprove">
        <span>
          <img src="../../../../assets/images/icon_thumb_up_green.png" alt="">
          <img class="hoverIco" src="../../../../assets/images/icon_thumb_up_green_w.png" alt="">
        </span>
        yes
      </button>

      <button type="submit" class="btnOutline btnReject">
        <span>
          <img src="../../../../assets/images/icon_thumb_down_red.png" alt="">
          <img class="hoverIco" src="../../../../assets/images/icon_thumb_down_red_w.png" alt="">
        </span>
        No
      </button>
    </div>
  </form>
</div>