<div class="mainBox brandingMain">
    <header class="mainBoxHeader">
        <div class="mainBoxHeaderLeft">
            <button type="button" class="addReview" (click)="onAddToken()">
                <img src="../../../../assets/images/addIcon.png" alt="">
                Create token
            </button>
        </div>

        <div class="mainBoxHeaderRight">

        </div>
    </header>

    <div class="dataTableArea">

      <div class="inDataHdr">
        <a class="linkTxt" href="https://zapier.com/developer/public-invite/23604/fbd34a72ef958e052a0aa95c8b37576f/." target="_blank">
          <img src="../../../../assets/images/icon_reviewlink.png" alt=""/> Click here to use our Zapier app</a>
        <message [successMessage]='successMessage' [showMessage]="showError" *ngIf="showTheMessage">   </message>
      </div>
        <div class="table">
            <ul class="thead">
                <li>Token name </li>
                <li>Token </li>
                <li>Action </li>
            </ul>
            <div class="tbody">
                <ul *ngIf="token.length > 0; else noRecords">
                    <li class="row" *ngFor="let tokenData of token">
                        <div class="rowContainer">
                            <div class="tcol">
                                <h3>{{tokenData.token_name}}</h3>
                            </div>
                            <div class="tcol">
                                <p>{{tokenData.token}}</p>
                            </div>
                            <div class="tcol">
                                <a class="copyBtn" (click)="copyText(tokenData.token)"> <img src="../../../../assets/images/icon_copy_snippet.png" alt="copy token"> </a>
                                <a class="delete" (click)="onDeleteToken(tokenData.id)"><img src="../../../../assets/images/icon_delete_green.png" alt="Delete"></a>
                            </div>
                        </div>
                    </li>
                </ul>

              <ng-template #noRecords>
                <ul>
                  <li class="row">
                    <div class="rowContainer">
                      <div class="tcol formatNoTokenText">
                        <h3>You haven't created any zapier token yet. </h3>
                      </div>
                    </div>
                  </li>
                </ul>
              </ng-template>

            </div>
        </div>
    </div>

    <ngx-smart-modal #modal1 identifier="modal1" class="sr-modal">
        <div class="sr-modal-container">
            <div class="sr-modal-header">
                <h2>
                    Create zapier token
                </h2>
            </div>
            <div class="sr-modal-body">
                <message [successMessage]='successMessage' [showMessage]="showError" *ngIf="isModalOpened">  </message>
                <form [formGroup]="userZapierTokenForm" (ngSubmit)="onCreateToken()">
                    <div class="sr-form">
                        <div class="sr-form-row">
                            <div class="sr-form-cell">
                                <label>Token Name</label>
                                <div class="sr-form-field">
                                    <input type="text" formControlName="tokenName" class="sr-form-ctrl" [ngClass]="{'error' : !userZapierTokenForm.get('tokenName').valid && userZapierTokenForm.get('tokenName').touched}">
                                    <span class="error-msg" *ngIf="!userZapierTokenForm.get('tokenName').valid && userZapierTokenForm.get('tokenName').errors.required" class="error-msg">Token name is required !</span>
                                </div>
                            </div>
                        </div>

                        <div class="sr-form-row">
                            <div class="sr-form-cell">
                                <button class="button-submit" type="submit" [disabled]="!userZapierTokenForm.valid">
                                    <img src="../../../../assets/images/addIcon.png" alt="">
                                    Generate
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ngx-smart-modal>


</div>
