<div class="mainBox brandingMain tokenMain">
    <header class="mainBoxHeader">
        <div class="mainBoxHeaderLeft">
            <button type="button" class="addReview" (click)="onAddToken()">
                <img src="../../../../assets/images/addIcon.png" alt="">
                Create token
            </button>
        </div>

        <div class="mainBoxHeaderRight">

        </div>
    </header>

    <div class="dataTableArea" *ngIf="!showNoRecordsFoundTemplate">

      <div class="inDataHdr">
        <a class="linkTxt" href="https://zapier.com/developer/public-invite/23604/fbd34a72ef958e052a0aa95c8b37576f/." target="_blank">
          <img src="../../../../assets/images/icon_reviewlink.png" alt=""/> Click here to use our Zapier app</a>
        <message [successMessage]='successMessage' [showMessage]="showError" *ngIf="showTheMessage">   </message>
      </div>
        <div class="table">
            <ul class="thead">
                <li>Token name </li>
                <li>Token </li>
                <li>Action </li>
            </ul>
            <div class="tbody">
                <ul *ngIf="token.length > 0">
                    <li class="row" *ngFor="let tokenData of token">
                        <div class="rowContainer">
                            <div class="tcol">
                                <h3>{{tokenData.token_name}}</h3>
                            </div>
                            <div class="tcol">
                                <p>{{tokenData.token}}</p>
                            </div>
                            <div class="tcol">
                                <a class="copyBtn" (click)="copyText(tokenData.token)"> <img src="../../../../assets/images/icon_copy_snippet.png" alt="copy token"> </a>
                                <a class="delete" (click)="onDeleteToken(tokenData.id)"><img src="../../../../assets/images/icon_delete_red.png" alt="Delete"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

  <!-- no content template -->
  <div *ngIf="showNoRecordsFoundTemplate">
    <div class="no-content">
      <figure>
        <img src="../../../../assets/images/clipboards.png" alt="" />
      </figure>
      <div class="no-content-body">
        <h3>No token created yet</h3>
        <p>No token listed here yet.</p>
      </div>

      <div class="ftNone">
        <button class="button-submit" (click)="onAddToken()">
          Add your first token
        </button>
      </div>
    </div>
  </div>
  <!-- no content template -->

    <ngx-smart-modal #modal1 identifier="modal1" class="sr-modal" [escapable]="false" [dismissable]="false">
        <div class="sr-modal-container">
            <div class="sr-modal-header">
                <h2>
                    Create zapier token
                </h2>
            </div>
            <div class="sr-modal-body">
                <message [successMessage]='successMessage' [showMessage]="showError" *ngIf="isModalOpened">  </message>
                <form [formGroup]="userZapierTokenForm" (ngSubmit)="onCreateToken()">
                    <div class="sr-form">
                        <div class="sr-form-row">
                            <div class="sr-form-cell">
                                <label>Token Name *</label>
                                <div class="sr-form-field">
                                    <input type="text" formControlName="tokenName" class="sr-form-ctrl" [ngClass]="{'error' : !userZapierTokenForm.get('tokenName').valid && userZapierTokenForm.get('tokenName').touched}">
                                    <span class="error-msg" *ngIf="!userZapierTokenForm.get('tokenName').valid && userZapierTokenForm.get('tokenName').errors.required" class="error-msg">Token name is required !</span>
                                </div>
                            </div>
                        </div>

                        <div class="sr-form-row">
                            <div class="sr-form-cell">
                                <button class="button-submit" type="submit" [disabled]="!userZapierTokenForm.valid">
                                    <img src="../../../../assets/images/addIcon.png" alt="">
                                    Generate
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ngx-smart-modal>


</div>


<!-- HTML for delete modal -->
<ngx-smart-modal #deleteModal identifier="deleteModal" class="sr-modal modalNotif" [dismissable]="false" [escapable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form>
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell btnStyles">
              <label>Are you sure you want to delete it?</label>
              <button class="stAccpt" type="button" (click)="delete(tokenIdToDelete)">
                Yes
              </button>
              <button class="stReject" type="button" (click)="deleteModal.close()">
                No
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>


<!-- HTML for Info modal -->
<ngx-smart-modal #InfoModal identifier="InfoModal" class="sr-modal modalNotif" [escapable]="false" [dismissable]="false">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Hey, wait!
      </h2>
    </div>
    <div class="sr-modal-body">
      <form>
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell btnStyles">
              <label> <i>Please delete the existing token to create a new token.</i> </label>
              <button class="stAccpt" type="button" (click)="InfoModal.close()">
                OK
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ngx-smart-modal>
