<div class="loginContainer">
  <div class="leftPanel">
    <div class="leftLogo">
      <a [routerLink]="['/']"><img src="../../../assets/images/Sticky_Reviews_logo_text.png" alt=""></a>
    </div>
  </div>
  <div class="rightPanel">
    <div class="resetForget d-flex">
      <div class="forgotPass_pg">
        <h1>
          Reset Password
          <span>Enter your new Password</span>
        </h1>
        <div class="formArea resetArea">
          <!-- Displaying errors -->
          <message [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
          <!-- Stop error block -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="formRow" [ngClass]="{active : passwordFieldFocused, error: isSubmitted && resetPasswordFormControls.password.errors}">
              <input type="password" class="formCtrl" id="password" formControlName="password" minlength="8" autocomplete="off" (focus)="onFocus('password', $event)"
              (blur)="onFocusOut('password', $event)">
              <label>New Password</label>
              <div class="error">
                <span *ngIf="(
                  isSubmitted
                  && resetPasswordFormControls.password.errors !== null
                  && resetPasswordFormControls.password.errors.required)"> Password is required 
                </span>
                <span *ngIf="(
                  isSubmitted
                  && resetPasswordFormControls.password.errors !== null
                  && resetPasswordFormControls.password.errors.minlength)"> 
                  Password should be at least 8 characters long
                </span>
                <span *ngIf="(
                  isSubmitted
                  && resetPasswordFormControls.password.errors !== null
                  && resetPasswordFormControls.password.errors.pattern)"> 
                  Password should contains one english uppercase characters (A–Z), one english lowercase characters (a–z), one numeric value (0–9) and one special characters (!, $, #, or %) 
                </span>
              </div>
              <!-- <div class="error" *ngIf="(
                isSubmitted
                || resetPasswordFormControls.password.errors !== null
                && resetPasswordFormControls.password.errors?.minlength)">
                Password should be at least 8 characters long
              </div>
              <div class="error" *ngIf="(
                isSubmitted
                || resetPasswordFormControls.password.errors !== null
                && resetPasswordFormControls.password.errors?.pattern)">
                Password should contains one english uppercase characters (A–Z), one english lowercase characters (a–z), one numeric value (0–9) and one special characters (!, $, #, or %)
              </div> -->
            </div>
            <div class="formRow" [ngClass]="{active : confirmPasswordFieldFocused, error: isSubmitted && resetPasswordFormControls.confirmPassword.errors}">
              <input type="password" class="formCtrl" id="confirmPassword" formControlName="confirmPassword" autocomplete="off" (focus)="onFocus('confirmPassword', $event)"
              (blur)="onFocusOut('confirmPassword', $event)">
              <label>Confirm Password</label>
              <div class="error" *ngIf="(
                isSubmitted
                && resetPasswordFormControls.confirmPassword.errors !== null
                && resetPasswordFormControls.confirmPassword.errors.required)">
                Confirm password is required
              </div>
              <div class="error" *ngIf="(
                isSubmitted
                && resetPasswordFormControls.confirmPassword.errors !== null
                && resetPasswordFormControls.confirmPassword.errors.mustMatch)">
                Password and confirm password should match
              </div>
            </div>
            <div class="formRow2 formRow">
              <button type="submit" class="loginBtn button-submit">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
