<div class="loginContainer">
  <div class="leftPanel">
    <div class="leftLogo">
      <a [routerLink]="['/']"><img src="../../../assets/images/Sticky_Reviews_logo_text.png" alt=""></a>
    </div>
  </div>
  <div class="rightPanel">
    <div class="resetForget d-flex">
      <div class="forgotPass_pg">
        <h1>
          Reset Password
          <span>Enter your new Password</span>
        </h1>
        <div class="formArea">
          <!-- Displaying errros -->
          <div *ngIf="error !== null">
            <span><div class="log-stat_msg log_Failed">{{ error }}</div></span>
          </div>
          <div class="formValidationTips" *ngIf="validationErrors !== null">
            <div *ngIf="validationErrors.password !== undefined">
              <span *ngIf="validationErrors.password.message !== undefined">{{ validationErrors.password.message }}</span>
              <ul *ngIf="validationErrors.password.rules !== undefined && validationErrors.password.rules.length > 0">
                  <li *ngFor="let rule of validationErrors.password.rules">{{ rule }}</li>
              </ul>
            </div>
          </div>
          <div class="formValidationTips" *ngIf="(isSubmitted && resetPasswordFormControls.password.errors !== null && resetPasswordFormControls.password.errors.required)">Password is required</div>
          <div class="formValidationTips" *ngIf="(isSubmitted && resetPasswordFormControls.password.errors !== null && resetPasswordFormControls.password.errors.minlength)">Password should be at least 8 characters long</div>
          <div class="formValidationTips" *ngIf="(isSubmitted && resetPasswordFormControls.confirmPassword.errors !== null && resetPasswordFormControls.confirmPassword.errors.required)">Confirm Password is required</div>
          <div class="formValidationTips" *ngIf="(isSubmitted && resetPasswordFormControls.confirmPassword.errors !== null && resetPasswordFormControls.confirmPassword.errors.mustMatch)">Password and confirm password does not match</div>
          <!-- Stop error block -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="formRow">
              <input type="password" class="formCtrl" id="password" formControlName="password" minlength="8">
              <label>New Password</label>
            </div>
            <div class="formRow">
              <input type="password" class="formCtrl" id="confirmPassword" formControlName="confirmPassword">
              <label>Confirm Password</label>
            </div>
            <div class="formRow2 formRow">
              <button type="submit" class="loginBtn button-submit">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Loader -->
<div class="loaderOuter" *ngIf="loader">
  <div class="loaderContainer">
    <div class="loader">
      <img src="../../../assets/images/face_icon.png" alt="">
    </div>
    <div class="loaderShadow"></div>
  </div>
</div>