<!-- ERROR MESSAGES -->
<span>
  <div class="log-stat_msg log_Failed" *ngIf="showMessage">{{ errorMessage }}</div>
  <div class="log-stat_msg log_Failed" *ngFor="let error of validationErrorMessages">
    {{ error }}
  </div>
</span>
<!-- END -->


<!-- SUCCESS MESSAGE -->
<span *ngIf="successMessage">
  <div class="log-stat_msg log_Success">{{ successMessage }}</div>
</span>
<!-- END -->


<!-- WARNING MESSAGE -->
<span *ngIf="warningMessage">
  <div class="log-stat_msg log_Warning">{{ warningMessage }}</div>
</span>
<!-- END -->