<div class="popupParent">
  <div class="popupTxt popup_template_1" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_2" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_3" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_4" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent">
  <div class="popupTxt popup_template_5" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure style="background-image:url(../../../assets/images/dp.jpeg);"></figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <p>Awesome traffic converters</p>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_1">
  <div class="popupTxt popup_template_1" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv">
        <audio src="" controls></audio>
      </div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_2">
  <div class="popupTxt popup_template_2" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"><audio src="" controls></audio></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_3">
  <div class="popupTxt popup_template_3" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"><audio src="" controls></audio></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_4">
  <div class="popupTxt popup_template_4" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"><audio src="" controls></audio></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent audioParent_5">
  <div class="popupTxt popup_template_5" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure style="background-image:url(../../../assets/images/dp.jpeg);"></figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      <div class="audioRv"><audio src="" controls></audio></div>
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_1">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_1" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_2">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_2" style="margin-bottom: 30px;">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_3">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_3">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_4">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_4">
    <div class="figPopup">
      <figure>
        <img src="../../../../assets/images/face_icon.png" alt="">
      </figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>

<div class="popupParent vidParent_5" style="margin-left: 30px;">
  <div class="vidPop">
    <div class="animateVid">
      <span class="keyF1">
        <img src="../../../../assets/images/video_thumbs.png" alt="">
      </span>
      <span class="keyF2">
        <img src="../../../../assets/images/video_triangle.png" alt="">
      </span>
      <span class="keyF3">
        <img src="../../../../assets/images/video_star_2.png" alt="">
      </span>
      <span class="keyF4">
        <img src="../../../../assets/images/video_star_1.png" alt="">
      </span>
      <span class="keyF5">
        <img src="../../../../assets/images/video_star_3.png" alt="">
      </span>
      <span class="keyF6">
        <img src="../../../../assets/images/video_star_4.png" alt="">
      </span>
    </div>
    <div class="vidContain"></div>
  </div>
  <div class="popupTxt popup_template_5">
    <div class="figPopup">
      <figure style="background-image:url(../../../assets/images/dp.jpeg);"></figure>
    </div>
    <div class="bodyPopup">
      <h6>John Vaughn</h6>
      
      <footer class="popupFt">
        7 days ago
        <span><img src="../../../../assets/images/icon_poweredby.png" alt=""></span>
        by
        <span>Tier5LLC</span>
        <figure>
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
          <img src="../../../../assets/images/small_star_active.png" alt="">
        </figure>
      </footer>
    </div>
    <a href="javascript:void(0)" class="closePopup"></a>
  </div>
</div>