<div class="loginContainer">
  <div class="leftPanel">
    <div class="leftLogo">
      <a [routerLink]="['/']"><img src="../../../assets/images/Sticky_Reviews_logo_text.png" alt=""></a>
    </div>
  </div>
  <div class="rightPanel">
    <div class="resetForget d-flex">
      <div class="forgotPass_pg">
        <h1>
          Forgot Password
          <span>Enter email to initiate Password recovery</span>
        </h1>
        <div class="formArea">
          <message [successMessage]="successMessage" [showMessage]="showError"></message>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="formRow">
              <input type="text" class="formCtrl" id="email" formControlName="email" autocomplete="off">
              <label>Email</label>
            </div>
            <div class="formRow2 formRow">
              <button type="submit" class="loginBtn button-submit">SUBMIT</button>
            </div>
            <div class="formRow2 formRow">
              <p class="registerLink">
                Already have an account? <a [routerLink]="['/login']">Login Here</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>