<div class="loginContainer">
  <div class="leftPanel">
    <div class="leftLogo">
      <a [routerLink]="['/']"><img src="../../../assets/images/Sticky_Reviews_logo_text.png" alt=""></a>
    </div>
  </div>
  <div class="rightPanel">
    <div class="resetForget d-flex">
      <div class="forgotPass_pg">
        <h1>
          Forgot Password
          <span>Enter email to initiate Password recovery</span>
        </h1>
        <div class="formArea">
          <message [successMessage]="successMessage" [errorMessage]="errorMessage" [showMessage]="showError"></message>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="formRow" [ngClass]="{active : emailFieldFocused, error : isSubmitted && formControls.email.errors}">
              <input type="text" class="formCtrl" id="email" formControlName="email" autocomplete="off" (focus)="onFocus('email', $event)"
              (blur)="onFocusOut('email', $event)">
              <label>Email</label>
              <div class="error" *ngIf="(
                isSubmitted 
                && formControls.email.errors !== null 
                && formControls.email.errors.required)">
                Email address is required
              </div>
              <div class="error" *ngIf="(
                isSubmitted 
                && formControls.email.errors !== null 
                && formControls.email.errors.email)">
                Please enter a valid email address
              </div>
            </div>
            <div class="formRow2 formRow">
              <button type="submit" class="loginBtn button-submit">SUBMIT</button>
            </div>
            <div class="formRow2 formRow">
              <p class="registerLink">
                Already have an account? <a [routerLink]="['/login']">Login Here</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>