.weather-one i {
  font-size: inherit;
}
table th {
  text-align: left;
}
.weather-one table tbody tr td {
  text-align: left;
}
.card .bg-default {
  background: whitesmoke;
}
.weather-one .alert {
  font-weight: bold;
  text-align: center;
  border: 2px solid;
}
.tip {
  color: orangered;
  font-size: 15px;
  font-style: italic;
}
.error-alert {
  color: red;
  margin: 1px 0px 2px 2px;
  height: auto;
  width: auto;
}
.has-error-custom {
  border: 1px solid red;
}
