<div class="reviewLinkBody">
  <div class="reviewlinkForm">
    <header class="reviewLHdr">
      <div class="figureHeader" style="background-image: url(../../../../assets/images/dp.jpeg);"></div>
      <div class="headerTxtRvw">
        <h3>
          FHL-PROMO
        </h3>
        <p>
          What did you think about the special Funnel Hacking Live Offer?
        </p>
      </div>
    </header>
    
    <div class="bodyCreview">
      <!-- screen for recommendation from user -->
      <app-recommendation></app-recommendation>
      <!-- screen to get review from user -->
      <app-review></app-review>
      <!-- screen to get the permission from user whether review will be shown or not -->
      <app-permission></app-permission>
      <!-- screen to upload user dp -->
      <app-display-picture></app-display-picture>
      <!-- screen to get user's contact info  -->
      <app-contact></app-contact>
      <!-- screen for thank you message -->
      <app-thank-you></app-thank-you>
    </div>
  </div>

  <footer class="footerCopy">
    <p>&copy; 2019 All rights reserved. Logistics LLC</p>
  </footer>
</div>