<div class="reviewLinkBody" [style.background-color]="urlInfo.page_background">
  <div class="reviewlinkForm" [style.background-color]="urlInfo.modal_background">
    <!-- Header -->
    <header class="reviewLHdr">
      <div *ngIf="urlInfo.logo !== null" class="figureHeader" [style.background-image]="'url('+  urlInfo.logo  +')'"></div>
      <div class="headerTxtRvw">
        <h3 *ngIf="urlInfo.name !== null">{{ urlInfo.name }}</h3>
        <p *ngIf="urlInfo.description !== null && !stepBuilder.contact">{{ urlInfo.description }}</p>
        <p *ngIf="stepBuilder.contact && review.negative_review_message_1 !== null && review.negative_review_message_1 !== ''">{{ review.negative_review_message_1 }}</p>
      </div>
    </header>
    <!-- Different screens -->
    <div class="bodyCreview">
      <!-- Show api error/success messages -->
      <message [successMessage]="successMessage" [showMessage]="showError"></message>
      <!-- screen for recommendation from user -->
      <app-recommendation *ngIf="stepBuilder.recommendation" class="in_step recommendation_step"></app-recommendation>
      <!-- screen to get review from user -->
      <app-review *ngIf="stepBuilder.review" [slug]="slug" class="in_step review_step"></app-review>
      <!-- screen to get the permission from user whether review will be shown or not -->
      <app-permission *ngIf="stepBuilder.permission" class="in_step permission_step"></app-permission>
      <!-- screen to upload user dp -->
      <app-display-picture *ngIf="stepBuilder.displayPicture" [slug]="slug" class="in_step dp_step"></app-display-picture>
      <!-- screen to get user's contact info  -->
      <app-contact *ngIf="stepBuilder.contact" [slug]="slug" class="in_step contact_step"></app-contact>
      <!-- screen for thank you message -->
      <app-thank-you *ngIf="stepBuilder.thankYou" class="in_step thankyou_step"></app-thank-you>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footerCopy" *ngIf="urlInfo.copyright_text !== null">
    <p [innerHTML]="urlInfo.copyright_text"></p>
  </footer>
</div>