<div class="mainBox brandingMain">
  <div class="edit-info-user">
    <h2>Edit your profile information</h2>
    <p>Explicitly we don't share your information with anyone. Its secured with us only.</p>
  
    <div class="userInfo text-center" *ngIf="userInfo">
        <div class="userDisplay">
          <span class="showDisplay" [ngStyle]="{'background-image': 'url(' + userInfo.image + ')'}"></span>
        </div>
        <h5>{{userInfo.name}}</h5>
        <p>{{userInfo.email}}</p>
        <div class="editInfoHd">
          <a href="javascript:void(0)" (click)="openUserProfileUpdateForm()">
            <img src="../../../../assets/images/icon_edit_black.png" alt="">
          </a>
        </div>
    </div>
  
    <div class="formChangepass">
      <span><message [successMessage] = 'successMessage'></message></span>
      <h2>Change password</h2>
      <p>We reccommend to change your password in every 1 or 2 months to keep your account safe & secured.</p>
  
      <form [formGroup]="userPasswordUpdateForm" (ngSubmit)="onUpdatePassword()">
        <div class="sr-form-row">
          <div class="sr-form-cell">
            <label>Current Password</label>
            <div class="sr-form-field">
              <input 
                type="password"
                formControlName="current_password"
                class="sr-form-ctrl"
                [ngClass]="{'error' : !userPasswordUpdateForm.get('current_password').valid && userPasswordUpdateForm.get('current_password').touched}">
                <span class="error-msg" *ngIf="!userPasswordUpdateForm.get('current_password').valid && userPasswordUpdateForm.get('current_password').errors.required" class="error-msg">
                  Required!
                </span>
            </div>
          </div>
        </div>
        <div class="sr-form-row">
          <div class="sr-form-cell-small">
            <label>New Password</label>
            <div class="sr-form-field">
              <input
                type="password"
                formControlName="new_password"
                class="sr-form-ctrl"
                [ngClass]="{'error' : !userPasswordUpdateForm.get('new_password').valid && userPasswordUpdateForm.get('new_password').touched}">
                <span class="error-msg" *ngIf="!userPasswordUpdateForm.get('new_password').valid &&  userPasswordUpdateForm.get('new_password').errors.required" class="error-msg">Required!</span>
                
                <span class="error-msg" *ngIf="!userPasswordUpdateForm.get('new_password').valid && userPasswordUpdateForm.get('new_password').errors.pattern" class="error-msg">
                  Password should contains one english uppercase characters (A–Z), one english lowercase characters (a–z), one numeric value (0–9) and one special characters (!, $, #, or %)
                </span>
              
            </div>
          </div>
  
          <div class="sr-form-cell-small">
            <label>Re-type New Password</label>
            <div class="sr-form-field">
              <input
                type="password"
                formControlName="new_password_confirmation"
                [ngClass]="{'error' : !userPasswordUpdateForm.get('new_password_confirmation').valid && userPasswordUpdateForm.get('new_password_confirmation').touched}" class="sr-form-ctrl">
                <span *ngIf="!userPasswordUpdateForm.get('new_password_confirmation').valid && userPasswordUpdateForm.get('new_password_confirmation').errors.required" class="error-msg">Required!</span>
                <span *ngIf="!userPasswordUpdateForm.get('new_password_confirmation').valid && userPasswordUpdateForm.get('new_password_confirmation').errors.mustMatch" class="error-msg">Same as New Password!</span>
            </div>
          </div>
        </div>
        <div class="sr-form-row">
          <button class="button-submit" type="submit" [disabled]="!userPasswordUpdateForm.valid">
            <img src="../../../../assets/images/addIcon.png" alt="">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-smart-modal #modal2 identifier="modal2" class="sr-modal">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
          Make Profile Changes
      </h2>
    </div>
    <div class="sr-modal-body profileImg">
        <message></message>
        <form [formGroup]="userProfileUpdateForm" (ngSubmit)="onUserProfileUpdate()">
            <div class="sr-form">
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Change Name</label>
                  <div class="sr-form-field">
                    <input 
                      type="text"
                      class="sr-form-ctrl"
                      formControlName="name"
                      [ngClass]="{'error' : !userProfileUpdateForm.get('name').valid && userProfileUpdateForm.get('name').touched}"
                      >
                      <span class="error-msg" *ngIf="!userProfileUpdateForm.get('name').valid && userProfileUpdateForm.get('name').errors.required">
                        Required!
                      </span>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Change Email</label>
                  <div class="sr-form-field">
                    <input 
                      type="email"
                      class="sr-form-ctrl"
                      formControlName="email"
                      [ngClass]="{'error' : !userProfileUpdateForm.get('email').valid && userProfileUpdateForm.get('email').touched}"
                    >
                    <span class="error-msg" *ngIf="!userProfileUpdateForm.get('email').valid && userProfileUpdateForm.get('email').errors.required">
                      Required!
                    </span>
                    <span class="error-msg" *ngIf="!userProfileUpdateForm.get('email').valid && userProfileUpdateForm.get('email').errors.email">
                      Must be an email!
                    </span>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Upload an image</label>
                  <div class="sr-form-field">
                    <div class="sr-form-ctrl inputFile">
                      <input 
                          type="file"
                          class="sr-form-ctrl"
                          
                          (change)="onFileChange($event)"
                          [ngClass]="{'error' : !userProfileUpdateForm.get('image').valid}"
                          >
                          <!-- invalidFileType invalidFileSize -->
                          <span class="error-msg" *ngIf="!userProfileUpdateForm.get('image').valid && userProfileUpdateForm.get('image').errors.invalidFileType">
                            Invalide File Type
                          </span>
                          <span class="error-msg" *ngIf="!userProfileUpdateForm.get('image').valid && userProfileUpdateForm.get('image').errors.invalidFileSize">
                              Invalide File Size
                            </span>
                      <div class="choseFileArea">
                        <div class="fileImg">
                          <img src="../../../../assets/images/icon_upload_photo.png" alt="">
                        </div>
                        <p>
                          <span>{{choseFileCtrl}}</span>{{fileName}}
                        </p>
                      </div>
                      <div class="figureUpld"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                  <div class="sr-form-cell">
                      <button class="button-submit" type="submit" [disabled]="!userProfileUpdateForm.valid">
                          <img src="../../../../assets/images/addIcon.png" alt=""> Save Changes
                      </button>
                  </div>
              </div>
            </div>
        </form>
    </div>
  </div>
</ngx-smart-modal>