<div class="mainBox brandingMain">
  <div class="edit-info-user">
    <h2>Edit your profile information</h2>
    <p>Explicitly we don't share your information with anyone. Its secured with us only.</p>
  
    <div class="userInfo text-center">
        <div class="userDisplay">
          <span class="showDisplay" style="background-image:url(../../../../assets/images/pp.png);"></span>
        </div>
        <h5>Jon Vaughn</h5>
        <p>Jon@thinkvaughn.com</p>
        <div class="editInfoHd">
          <a href="javascript:void(0)" (click)="ngxSmartModalService.getModal('modal2').open()">
            <img src="../../../../assets/images/icon_edit_black.png" alt="">
          </a>
        </div>
    </div>
  
    <div class="formChangepass">
      <h2>Change password</h2>
      <p>We reccommend to change your password in every 1 or 2 months to keep your account safe & secured.</p>
  
      <form [formGroup]="userPasswordUpdateForm" (ngSubmit)="onUpdatePassword()">
        <div class="sr-form-row">
          <div class="sr-form-cell">
            <label>Current Password</label>
            <div class="sr-form-field">
              <input 
                type="password"
                formControlName="current_password"
                [ngClass]="{'error' : !userPasswordUpdateForm.get('current_password').valid && userPasswordUpdateForm.get('current_password').touched}">
              <div 
                *ngIf="!userPasswordUpdateForm.get('current_password').valid && (userPasswordUpdateForm.get('current_password').dirty || userPasswordUpdateForm.get('current_password').touched)">
                <span class="error-msg" *ngIf="userPasswordUpdateForm.get('current_password').errors.required">
                  Required!
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="sr-form-row">
          <div class="sr-form-cell-small">
            <label>New Password</label>
            <div class="sr-form-field">
              <input
                type="password"
                formControlName="new_password"
                [ngClass]="{'error' : !userPasswordUpdateForm.get('new_password').valid && userPasswordUpdateForm.get('new_password').touched}">
              <div 
                *ngIf="!userPasswordUpdateForm.get('new_password').valid && (userPasswordUpdateForm.get('new_password').dirty || userPasswordUpdateForm.get('new_password').touched)">
                <span class="error-msg" *ngIf="userPasswordUpdateForm.get('new_password').errors.required">Required!</span>
                <span class="error-msg" *ngIf="userPasswordUpdateForm.get('new_password').errors.pattern">
                  Password should contains one english uppercase characters (A–Z), one english lowercase characters (a–z), one numeric value (0–9) and one special characters (!, $, #, or %)
                </span>
              </div>
            </div>
          </div>
  
          <div class="sr-form-cell-small">
            <label>Re-type New Password</label>
            <div class="sr-form-field">
              <input
                type="password"
                formControlName="confirm_password"
                [ngClass]="{'error' : !userPasswordUpdateForm.get('confirm_password').valid && userPasswordUpdateForm.get('confirm_password').touched}">
                <div 
                *ngIf="!userPasswordUpdateForm.get('confirm_password').valid && (userPasswordUpdateForm.get('confirm_password').dirty || userPasswordUpdateForm.get('confirm_password').touched)">
                  <span *ngIf="userPasswordUpdateForm.get('confirm_password').errors.required">Required!</span>
                  <span *ngIf="userPasswordUpdateForm.get('confirm_password').errors.mustMatch">Same as New Password!</span>
                </div>
            </div>
          </div>
        </div>
        <div class="sr-form-row">
          <button class="button-submit" type="submit" [disabled]="!userPasswordUpdateForm.valid">
            <img src="../../../../assets/images/addIcon.png" alt="">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-smart-modal #modal2 identifier="modal2" class="sr-modal">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
          Make Profile Changes
      </h2>
    </div>
    <div class="sr-modal-body profileImg">
        <form>
            <div class="sr-form">
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Change Name</label>
                  <div class="sr-form-field">
                    <input type="text">
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Change Email</label>
                  <div class="sr-form-field">
                    <input type="email">
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Upload an image</label>
                  <div class="sr-form-field">
                    <div class="sr-form-ctrl inputFile">
                      <input type="file">
                      <div class="choseFileArea">
                        <div class="fileImg">
                          <img src="../../../../assets/images/icon_upload_photo.png" alt="">
                        </div>
                        <p>
                          <span>{{choseFileCtrl}}</span>{{fileName}}
                        </p>
                      </div>
                      <div class="figureUpld"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                  <div class="sr-form-cell">
                      <button class="button-submit" type="">
                          <img src="../../../../assets/images/addIcon.png" alt=""> Save Changes
                      </button>
                  </div>
              </div>
            </div>
        </form>
    </div>
  </div>
</ngx-smart-modal>