<div class="signupContainer">
  <div class="signupLeft">
    <div class="leftHeader">
      <div class="logo">
        <a [routerLink]="['']">
          <img src="../../../assets/images/logo.png" alt="">
        </a>
      </div>
    </div>
    
    <div class="formArea cardForm">      
      <!-- Client side errors for sign up form step 1 -->
      <div class="formValidationTips" *ngIf="(
        isSubmittedStep1 
        && signupFormStep1FormControls.name.errors !== null 
        && signupFormStep1FormControls.name.errors.required)">
        Full name is required
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep1 
        && signupFormStep1FormControls.email.errors !== null 
        && signupFormStep1FormControls.email.errors.required)">
        Email Address is required
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep1 
        && signupFormStep1FormControls.email.errors !== null 
        && signupFormStep1FormControls.email.errors.email)">
        Please provide a valid email
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep1 
        && signupFormStep1FormControls.password.errors !== null 
        && signupFormStep1FormControls.password.errors.required)">
        Password is required
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep1 
        && signupFormStep1FormControls.password.errors !== null 
        && signupFormStep1FormControls.password.errors.minlength)">
        Password should be at least 8 characters long
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep1 
        && signupFormStep1FormControls.password.errors !== null 
        && signupFormStep1FormControls.password.errors.pattern)">
        Password should contains one english uppercase characters (A–Z), one english lowercase characters (a–z), one numeric value (0–9) and one special characters (!, $, #, or %)
      </div>
      <!-- End -->

      <!-- Client side errors for sign up form step 2 -->
      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.card.errors !== null 
        && signupFormStep2FormControls.card.errors.required)">
        Credit card number is required
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.card.errors !== null 
        && signupFormStep2FormControls.card.errors.invalidNumber)">
        Credit card number is not a valid number
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.card.errors !== null 
        && signupFormStep2FormControls.card.errors.invalidLength)">
        Credit card number should be in betweeen 14 to 16 digits depending on provider
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.cvc.errors !== null 
        && signupFormStep2FormControls.cvc.errors.required)">
        CVC number is required
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.cvc.errors !== null 
        && signupFormStep2FormControls.cvc.errors.invalidNumber)">
        CVC number is not a valid number
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.cvc.errors !== null 
        && signupFormStep2FormControls.cvc.errors.invalidLength)">
        CVC number should be in between 3 to 5 digits depending on provider
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.expMonth.errors !== null 
        && signupFormStep2FormControls.expMonth.errors.required)">
        Expiry month is required
      </div>

      <div class="formValidationTips" *ngIf="(
        isSubmittedStep2 
        && signupFormStep2FormControls.expYear.errors !== null 
        && signupFormStep2FormControls.expYear.errors.required)">
        Expiry year is required
      </div>
      <!-- End -->
      <!-- End of ERROR BLOCK -->

      <!-- Api Errors-->
      <message [successMessage]="successMessage" [showMessage]="showError"></message>
      <!-- End of api errors -->

      <div class="formContainer" #formContainer [ngClass]="{secondStep : isStep2}">
        <form [formGroup]="signupFormStep1" (ngSubmit)="onSubmitStep1()">
          <div class="formStep">
            <h2>Register for Sticky Reviews</h2>
            <div class="formRow">
              <label>Full Name</label>
              <input type="text" class="formCtrl" formControlName="name">
            </div>
            <div class="formRow">
              <label>Email Address</label>
              <input type="text" class="formCtrl" formControlName="email">
            </div>
            <div class="formRow">
              <label>Password</label>
              <input type="password" class="formCtrl" formControlName="password">
            </div>
            <div class="formRow">
              <button type="submit" class="redBtn">NEXT</button>
            </div>
          </div>
        </form>
        <form [formGroup]="signupFormStep2" (ngSubmit)="onSubmitStep2()">
          <div class="formStep">
            <button type="button" class="goBack" (click)="goBack()">GO BACK</button>
            <h2>Credit Card Information</h2>
            <div class="formRow">
              <div class="formCol6">
                <label>Credit Card Number</label>
                <input type="text" class="formCtrl card" mask="0000 0000 0000 0000" formControlName="card">
              </div>
              <div class="formCol4">
                <label>CVC Number</label>
                <input type="password" class="formCtrl" formControlName="cvc">
              </div>
            </div>
            <div class="formRow">
              <div class="formCol5">
                <label>Expiry Month</label>
                <select class="formCtrl" formControlName="expMonth">
                  <option [value]="month" *ngFor="let month of [01,02,03,04,05,06,07,08,09,10,11,12]; let y = index">{{month}}</option>
                </select>
              </div>
              <div class="formCol5">
                <label>Expiry Year</label>
                <select class="formCtrl" formControlName="expYear">
                  <option [value]="year" *ngFor="let year of years">{{ year }}</option>
                </select>
              </div>
            </div>
            <div class="formRow">
              <button type="submit" class="redBtn trial">Start my 14 day FREE trial<span>You pay nothing today!</span></button>
            </div>
          </div>
        </form>
      </div>
      <div class="loginLink">
          Already have an account? <a [routerLink]="['/login']">Login Now!</a>
      </div>
    </div>
  </div>

  <div class="signupRight">
    <div class="rightMain">
      <h2>Here's What You'll Get:</h2>
      <ul>
        <li>14 Day Free Trial</li>
        <li>Amazing Sticky Reviews Account</li>
        <li>Ability To Easily Increase Conversions</li>
        <li>No Sticky Reviews Branding Ever</li>
        <li>Very Easy To Use Software</li>
        <li>Install On 2 Domains Minimum</li>
        <li>Review Links To Easily Collect Reviews</li>
        <li>Automate Reviews Added To Your Site</li>
        <li>Fast Friendly Support</li>
        <li>Full 30 Day Money Back Guarantee</li>
      </ul>
      <div class="rightFooter">
        <span><img src="../../../assets/images/s_badge03.png" alt=""></span>
        <span><img src="../../../assets/images/s_badge01.png" alt=""></span>
        <span><img src="../../../assets/images/s_badge02.png" alt=""></span>
      </div>
    </div>
  </div>
</div>