<div class="mainBox d-table">
  <div class="dataTableArea">
    <div class="plansArea">
      <h1>
        Upgrade membership plan
        <span>Select the membership plan you want to go for</span>
      </h1>
      <div class="plans clearfix">
        <div class="plan clearfix">
          <div class="planCell">
            <div class="planHead">
              <div class="planImg"><img src="../../../../assets/images/icon_price_plan_starter.png" alt=""></div>
              <h2>STARTER</h2>
            </div>
            <ul class="features">
              <li><strong>2 Domains</strong></li>
              <li>Unlimited Sticky Reviews</li>
              <li>Unlimited Visitors</li>
              <li>Multiple Elegant Designs</li>
              <li>Custom Branding</li>
              <li><strong>No Review Links</strong></li>
            </ul>
            <p class="price">$15</p>
            <button
              type="button"
              class="planBtn"
              [ngClass]="{'current': buttonText('Starter')== 'CURRENT' }" 
              (click)="addUpdatePlan('lowest')">{{buttonText('Starter')}}</button>
          </div>
          <div class="planCell">
            <div class="planHead">
              <div class="planImg"><img src="../../../../assets/images/icon_price_plan_premium.png" alt=""></div>
              <h2>PREMIUM</h2>
            </div>
            <ul class="features">
              <li><strong>10 Domains</strong></li>
              <li>Unlimited Sticky Reviews</li>
              <li>Unlimited Visitors</li>
              <li>Multiple Elegant Designs</li>
              <li>Custom Branding</li>
              <li><strong>5 Review Links</strong></li>
            </ul>
            <p class="price">$25</p>
            <button
              type="button"
              class="planBtn"
              [ngClass]="{'current': buttonText('Premium')== 'CURRENT' }"
              (click)="addUpdatePlan('modest')">{{buttonText('Premium')}}</button>
          </div>
          <div class="planCell">
            <div class="planHead">
              <div class="planImg"><img src="../../../../assets/images/icon_price_plan_agency.png" alt="" class="acencyImg"></div>
              <h2>AGENCY</h2>
            </div>
            <ul class="features">
              <li><strong>Unlimited Domains</strong></li>
              <li>Unlimited Sticky Reviews</li>
              <li>Unlimited Visitors</li>
              <li>Multiple Elegant Designs</li>
              <li>Custom Branding</li>
              <li><strong>Unlimited Review Links</strong></li>
            </ul>
            <p class="price">$47</p>
            <button
              type="button"
              class="planBtn"
              [ngClass]="{'current': buttonText('Agency') == 'CURRENT' }"
              (click)="addUpdatePlan('highest')">{{buttonText('Agency')}}</button>
          </div>
        </div>

        <div class="planNote text-center">
          <p>
              *Billed monthly, <span class="link-inline">no set up fee.</span>
          </p>
        </div>

        <div class="cancelReg">
          <p>I want to <a href="javascript:void(0)" class="link-inline">Cancel my membership.</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="membershipCancellation text-center d-cell">
      <div class="cancelReason">
        <div class="ico">
          <img src="../../../../assets/images/logo_iconography.png" alt="">
        </div>
        <h2>Cancellation of Sticky Reviews Membership</h2>
        <p>We are so sad to see you go. We would like you to tell us the reason of cancellation of your membership. This would help us to serve the community better experience.</p>

        <div class="formCancellation">
          <form>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Select your Reason</label>
                  <div class="sr-form-field">
                    <select class="sr-form-ctrl customSelect">
                      <option>Others</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Describe your reason</label>
                  <div class="sr-form-field">
                    <textarea class="sr-form-ctrl" placeholder="Be as descriptive as possible"></textarea>
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <button class="button-submit">
                  Submit
                </button>
              </div>
          </form>
        </div>
      </div>
      <div class="cancellationConfirmation">
          <figure>
            <img src="../../../../assets/images/icon_tick_confirmation.png" alt="">
          </figure>
          <h2>Your subscription has been cancelled successfully.</h2>
          <p>Hey Jon, Thanks for being a premium user of Sticky Reviews so far. <br>We would be happy to you see back again.</p>
          <p>Your account has been suspended and you can Subscribe again whenever you want.</p>
      </div>
  </div> -->
</div>
<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Add Credit Card Info
      </h2>
    </div>
    <div class="sr-modal-body">
      <div class="cardForm updateCardModal">
        <h2>Credit Card Information</h2>
        <div class="formRow">
          <div class="formCol6">
            <label>Credit Card Number</label>
            <input type="text" class="formCtrl card" ngModel mask="0000 0000 0000 0000">
          </div>
          <div class="formCol4">
            <label>CVC Number</label>
            <input type="password" class="formCtrl" ngModel mask="000">
          </div>
        </div>
        <div class="formRow">
          <div class="formCol5">
            <label>Expiry Month</label>
            <select class="formCtrl">
              <option [value]="month" *ngFor="let month of [01,02,03,04,05,06,07,08,09,10,11,12]; let y = index">{{month}}</option>
             
            </select>
          </div>
          <div class="formCol5">
            <label>Expiry Year</label>
            <select class="formCtrl">
              <option [value]="year" *ngFor="let year of years; let y = index">{{year}}</option>
            </select>
          </div>
        </div>
        <div class="formRow">
          <button type="button" class="UpdateCardBtn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>