.maintenance-notice {
  position: fixed;
  background: #ffae42;
  color: #422600;
  width: 100%;
  text-align: center;
  height: auto;
  font-size: 20px;
  padding: 7px 0px 7px 0px;
  text-transform: capitalize;
  z-index: 9;
}
.maintenance-notice a {
  color: #422600;
  font-weight: bold;
}
.maintenance-notice button {
  color: #422600;
}
