<div class="container">
  <app-left-panel></app-left-panel>

  <div class="rightPanel">
    <app-header></app-header>

    <div class="mainBox brandingMain">
      <header class="mainBoxHeader">
        <div class="mainBoxHeaderLeft">
          <button type="button" class="addReview" (click)="onAddBrand()">
            <img src="../../../../assets/images/addIcon.png" alt=""> 
            Add Branding
          </button>
        </div>
        <div class="mainBoxHeaderRight">
          <input type="text" placeholder="Search ...">
        </div>
      </header>
      <!-- <div class="dataTableArea">
        <div *ngIf="successMessage !== null">{{ successMessage }}</div>
        <div *ngIf="errorMessage !== null">{{ errorMessage }}</div>
        <div *ngIf="(isDeleting && errorMessage !== null)">{{ errorMessage }}</div>
        <div class="table">
          <ul class="thead">
            <li>BRAND NAME & URL</li>
            <li>CREATED DATE</li>
            <li>ACTION(S)</li>
          </ul>
          <div class="tbody">
            <ng-scrollbar [compact]="true" *ngIf="brands.length > 0; else noRecords">
              <ul>
                <li class="row" *ngFor="let brand of brands">
                  <div class="rowContainer">
                    <div class="tcol">
                      <h2>{{ brand.brand_name }}</h2>
                      <p>{{ brand.url }}</p>
                    </div>
                    <div class="tcol">
                      <p>{{brand.created_at | date : 'medium'}}</p>
                    </div>
                    <div class="tcol">
                      <a (click)="onEditBrand(brand)" class="edit"><img src="../../../../assets/images/icon_edit.png" alt=""></a>
                      <a (click)="onDeleteBrand(brand.id)" class="delete"><img src="../../../../assets/images/icon_delete_green.png" alt=""></a>
                    </div>
                  </div>
                </li>
              </ul>
            </ng-scrollbar>
            <ng-template #noRecords>
                <ul>
                  <li class="row">
                    <div class="rowContainer">
                      <div class="tcol">
                        <p>Sorry no brands found</p>
                      </div>
                    </div>
                  </li>
                </ul>
            </ng-template>
          </div>
        </div>
      </div> -->
      <div class="edit-info-user">
          <h2>Edit your profile information</h2>
          <p>Explicitly we don't share your information with anyone. Its secured with us only.</p>

          <div class="userInfo text-center">
              <div class="userDisplay">
                <span class="showDisplay" style="background-image:url(../../../../assets/images/pp.png);"></span>
              </div>
              <h5>Jon Vaughn</h5>
              <p>Jon@thinkvaughn.com</p>
              <div class="editInfoHd">
                <a href="javascript:void(0)" (click)="ngxSmartModalService.getModal('modal2').open()">
                  <img src="../../../../assets/images/icon_edit_black.png" alt="">
                </a>
              </div>
          </div>

          <div class="formChangepass">
            <h2>Change password</h2>
            <p>We reccommend to change your password in every 1 or 2 months to keep your account safe & secured.</p>

            <form>
              <div class="sr-form-row">
                <div class="sr-form-cell">
                  <label>Current Password</label>
                  <div class="sr-form-field">
                    <input type="password">
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <div class="sr-form-cell-small">
                  <label>New Password</label>
                  <div class="sr-form-field">
                    <input type="password">
                  </div>
                </div>

                <div class="sr-form-cell-small">
                  <label>Re-type New Password</label>
                  <div class="sr-form-field">
                    <input type="password">
                  </div>
                </div>
              </div>
              <div class="sr-form-row">
                <button class="button-submit">
                  <img src="../../../../assets/images/addIcon.png" alt="">
                  Update
                </button>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #modal1 identifier="modal1" class="sr-modal">
  <div class="sr-modal-container">
    <div class="sr-modal-header">
      <h2>
        Add Branding
      </h2>
    </div>
    <div class="sr-modal-body">
      <div *ngIf="errorMessage !== null">{{ errorMessage }}</div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="sr-form">
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Brand Name</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" [ngClass]="{error: isSubmitted && getFormControls.brandName.errors}" formControlName="brandName">
                <div class="error-msg" *ngIf="(
                  isSubmitted 
                  && getFormControls.brandName.errors !== null 
                  && getFormControls.brandName.errors.required)">
                  Brand Name is required
                </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
            <div class="sr-form-cell">
              <label>Brand URL</label>
              <div class="sr-form-field">
                <input type="text" class="sr-form-ctrl" [ngClass]="{error: isSubmitted && getFormControls.brandUrl.errors}" formControlName="brandUrl">
                <div class="error-msg" *ngIf="(
                  isSubmitted 
                  && getFormControls.brandUrl.errors !== null 
                  && getFormControls.brandUrl.errors.required)">
                  Brand URL is required
                </div>
              </div>
            </div>
          </div>
          <div class="sr-form-row">
              <div class="sr-form-cell">
                  <button class="button-submit" type="">
                      <img src="../../../../assets/images/addIcon.png" alt=""> Save Brand
                  </button>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <button (click)="myModal.close()">Close</button> -->
</ngx-smart-modal>

<ngx-smart-modal #modal2 identifier="modal2" class="sr-modal">
    <div class="sr-modal-container">
      <div class="sr-modal-header">
        <h2>
            Make Profile Changes
        </h2>
      </div>
      <div class="sr-modal-body profileImg">
          <form>
              <div class="sr-form">
                <div class="sr-form-row">
                  <div class="sr-form-cell">
                    <label>Change Name</label>
                    <div class="sr-form-field">
                      <input type="text">
                    </div>
                  </div>
                </div>
                <div class="sr-form-row">
                  <div class="sr-form-cell">
                    <label>Change Email</label>
                    <div class="sr-form-field">
                      <input type="email">
                    </div>
                  </div>
                </div>
                <div class="sr-form-row">
                  <div class="sr-form-cell">
                    <label>Upload an image</label>
                    <div class="sr-form-field">
                      <div class="sr-form-ctrl inputFile">
                        <input type="file">
                        <div class="choseFileArea">
                          <div class="fileImg">
                            <img src="../../../../assets/images/icon_upload_photo.png" alt="">
                          </div>
                          <p>
                            <span>{{choseFileCtrl}}</span>{{fileName}}
                          </p>
                        </div>
                        <div class="figureUpld"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sr-form-row">
                    <div class="sr-form-cell">
                        <button class="button-submit" type="">
                            <img src="../../../../assets/images/addIcon.png" alt=""> Save Changes
                        </button>
                    </div>
                </div>
              </div>
          </form>
      </div>
    </div>
</ngx-smart-modal>

<!-- Loader -->
<div class="loaderOuter" *ngIf="loader">
    <div class="loaderContainer">
        <div class="loader">
            <img src="../../../../assets/images/face_icon.png" alt="">
        </div>
        <div class="loaderShadow"></div>
    </div>
</div>